{% extends "public_website/base.html" %}

{% load static %}

{% block title %} Create Comment | Sawaliram {% endblock %}

{% block content %}

<form class="wide-container" action="{{ request.get_full_path }}" method="POST">
  {% include 'snippets/show_messages.html' %}
  <h3><i class="fas fa-pencil"></i> Create Comment</h3>

  {% for error in form.non_field_errors %}
    <div class="alert alert-dismissable fade show error" role="alert">{{ error }}</div>
  {% endfor %}
  {% for error in form.text.errors %}
    <div class="alert alert-dismissable fade show error" role="alert">Comment text: {{ error }}</div>
  {% endfor %}

  <ul class="comment-list">
  {% include 'dashboard/comments/comment_box.htm' with show_target=True editable=True input_name=form.text.html_name %}
  </ul>

  <div>
    {% csrf_token %}
    <a class="btn btn-small btn-secondary-hollow" href="{{ comment.target.get_absolute_url }}"><i class="fas fa-arrow-left"></i> Go back</a>
    <button type="submit" class="btn btn-small btn-primary"><i class="fas fa-plus"></i> Add comment</button>
  </div>
</form>

{% endblock %}
