
/* ----- General styles ----- */

body {
    min-height: 100vh; 
}

::-moz-selection { /* Code for Firefox */
    color: #ffffff;
    background: #79BF93;
}

::selection {
    color: #ffffff;
    background: #79BF93;
}

.btn {
    transition: 0.3s;
}

.flex-grow {
    flex: 1;
 }

.navbar {
    background-color: #fff;
}

.navbar .navbar-brand {
    color: #629781;
}

.navbar .navbar-brand:hover {
    color: #79BF93;
}

.navbar .logout-button {
    color: #ffffff;
    background-color: #ffffff;
}

.navbar .logout-button:hover {
    background-color: #ba00001a;
    color: #ba0000;
}

.navbar .logout-button i {
    color: #ba0000;
    margin-left: 5px;
}

.green-button {
    border: 2px solid #55B377;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #5DC282;
    text-transform: uppercase;
}

.green-button:hover {
    background-color: #55B377;
}

.sawaliram-container {
    margin-top: 90px;
    margin-bottom: 60px;
}

.sawaliram-container .form-control {
    border: 0;
    background-color: #f1f1f1;
}

.sawaliram-container .form-control:focus {
    box-shadow: 0 0 0 2px rgba(152, 152, 152, 0.3);
}

footer {
    text-align: center;
    padding: 20px;
    padding-bottom: 50px; 
    color: #757575;
}

footer p {
    margin-bottom: 3px;
}

.grey-link {
    color: #757575;
    text-decoration: underline;
}

/* ----- Home styles ----- */

h1.dashboard-home-greeting {
    font-size: 25px;
}

.tasks-list {
    margin-top: 30px;
}

.tasks-list a.task-card {
    width: 100%;
    min-height: 190px;
    text-decoration: none;
    color: black;
    text-align: center;
    display: inline-block;
    box-shadow: 0 0 5px rgba(150,150,150,.4);
    border-radius: 3px;
    padding: 20px;
    padding-bottom: 5px;
    transition: 0.3s;
}

.tasks-list a.task-card:hover {
    box-shadow: 0 0 15px 0px rgba(150,150,150,.4);
    position: relative;
    top: -1px;
}

.tasks-list a.task-card h3 {
    font-size: 22px;
    margin-top: 20px;
}

.tasks-list a.task-card p {
    font-size: 14px;
    color: #8e8e8e;
    font-style: italic;
}

/* ----- Task pages styles ----- */

h1.task-heading {
    font-size: 30px;
}

h2.task-sub-heading {
    font-size: 20px;
    font-weight: normal;
    color: #757575;
}

.task-hr {
    margin-bottom: 35px;
}

.task-info {
    background-color: #f7f7f7;
    border-radius: 3px;
    color: #7a7a7a;
    padding: 10px;
    margin-bottom: 20px;
}

.task-info a {
    color: #7a7a7a;
    text-decoration: underline;
}

h3.task-section-heading {
    font-size: 22px;
    margin-bottom: 20px;
}

h4.task-section-sub-heading {
    font-size: 18px;
    margin-bottom: 20px;
}

/* submit-questions */

.question-submission-form .form-group {
    margin-bottom: 30px;
}

.required-field-text {
    color: #a0a0a0;
    font-style: italic;
}

.published-information {
    display: none;
}

.question-card {
    margin-bottom: 25px;
}

.delete-question-button {
    position: absolute;
    right: 15px;
    top: 11px;
    background: none;
    border: none;
    cursor: pointer;
    color: #a7a7a7;
    display: none;
}

.delete-question-button:hover {
    color: #dc3545;
}

.add-question-button {
    background-color: #eaeaea;
    color: #444;
}

.add-question-button:hover {
    background-color: #e2e2e2;
}

.btn.add-question-button:focus {
    box-shadow: none;
}

/* submit-excel-sheet */
.first-excel-data-type-radio-button {
    margin-bottom: 10px;
}

.custom-file-input {
    cursor: pointer;
}

.template-download-message {
    margin-bottom: 30px;
}

/* view-questions */
.filter-area {
    margin-bottom: 40px;
}

#filterForm .filter-form-section-label {
    color: #888;
}

#questionsList .card {
    border: none;
    color: #b7b7b7;
}

#questionsList .card:not(:last-child) {
    margin-bottom: 40px;
}

#questionsList .card .card-header {
    padding: 0;
    border-bottom: none;
    background: none;
}

#questionsList .card .card-header h3 {
    color: #444;
    font-size: 18px;
    margin-bottom: 5px;
}

#questionsList .card .card-body {
    padding: 10px 15px;
    padding-left: 0;
    font-size: 15px;
}

#questionsList .card .card-body .highlighted-meta-area {
    margin-bottom: 13px;
}

#questionsList .card .card-body .highlighted-meta {
    border: 1px solid;
    border-radius: 3px;
    margin-right: 10px;
    padding: 2px;
    padding-right: 10px;
    font-size: 14px;
}

#questionsList .card .card-body .highlighted-meta i {
    font-size: 13px;
    margin: 0 5px;
}

#questionsList .card .card-body .meta-phrase-section {
    margin-bottom: 13px;
}

#questionsList .card .card-body .meta-value {
    color: #545454;
}

#questionsList .empty-result-text {
    text-align: center;
    color: #4e4e4e;
}

/* ----- Action successfull pages styles ----- */

.action-success-page-wrapper {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 20px;
}

.action-success-page-wrapper i {
    font-size: 35px;
    color: green;
}

.action-success-page-wrapper h1 {
    font-size: 32px;
    margin-top: 15px;
}

.action-success-page-wrapper p {
    color: #757575;
}

.action-success-page-wrapper a {
    color: #3a3a3a;
    text-decoration: underline;
}

/* ----- Standalone pages styles ----- */

.error-page-wrapper {
    text-align: center;
    margin-top: 40px;
}

.error-page-wrapper h3 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.auth-container {
    width: 40%;
    padding: 100px 0;
    text-align: center;
    margin: auto;
}

.auth-container h1 {
    font-size: 28px;
    margin-bottom: 35px;
}

.auth-container .login-form, .auth-container .signup-form {
    margin-bottom: 40px;
}

.auth-container .signup-link, .auth-container .signin-link {
    text-decoration: underline;
}

.auth-container .error-message {
    color: #b90000;
}

.auth-container .signup-form {
    text-align: left;
}

.auth-container .signup-form .access-request-checkbox {
    margin-top: 30px;
    margin-bottom: 15px;
}

.auth-container .signup-form .other-organisation-textbox {
    display: none;
}