/* ======== GENERAL STYLES ======== */

body {
    font-family: 'Noto Sans', sans-serif;
}

::-moz-selection { /* For Firefox */
    color: #000000;
    background: #FFBA4B;
}

::selection {
    color: #000000;
    background: #FFBA4B;
}

a:hover {
    text-decoration: none;
}

textarea,
input[type=text], 
input[type=password], 
input[type=email] {
    display: block;
    width: 100%;
    border: 1px solid #cacaca;
    border-radius: 20px;
    padding: 8px 15px;
    margin-bottom: 1rem;
}

textarea,
input:focus {
    border-color: #87B24D;
    outline: none;
    box-shadow: 0 0 0 1px #87B24D;
}

.btn {
    border-radius: 20px;
    padding: 0.5rem 2rem;
}

.btn-primary {
    display: inline-block;
    width: unset;
    background-color: #87B24D;
    border-color: #87B24D;
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: #759a42;
    border-color: #759a42;
}

.btn-secondary {
    background-color: #9B63A8;
    border-color: #9B63A8;
}

.btn-secondary:hover {
    background-color: #83538e;
    border-color: #83538e;
}

.link-secondary {
    color: #9B63A8
}

.link-secondary:hover {
    color: #83538e;
}

.darken {
    position: fixed;
    display: block;
    background: rgba(0,0,0,0.5);
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slow-transition {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* ======== NAVBAR ======== */

.navbar {
    background-color: #FFFFFF;
}

.navbar .navbar-element {
    font-size: 1.5rem;
    margin-right: 1.2rem;
}

.navbar #languageSelector {
    padding-top: 0;
    font-size: 1.2rem;
}

.navbar #languageSelector:focus {
    box-shadow: none;
}

.navbar .dropdown-menu {
    min-width: 100%;
    border-color: #dadada;
    box-shadow: 0 3px 5px 1px rgba(0,0,0,.14);
}

.navbar .navbar-menu-toggle {
    cursor: pointer;
}

.navbar-menu {
    position: fixed;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 1032;
    margin: 0;
    right: -40%;
}
.navbar-menu a {
    color: #717171;
}

.navbar-menu a:hover {
    color: #000000;
}

.navbar-menu .navbar-menu-close {
    float: right;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 1.5rem;
}

.navbar-menu-container {
    padding: 10rem 4rem;
    font-size: 1.3rem;
}

.navbar-menu-container .row {
    margin-bottom: 2.5rem;
}

.navbar-menu-container .row.auth-buttons-area {
    margin-bottom: 0;
    border-top: 1px solid #e4e4e4;
    padding-top: 3rem;
}

.navbar-menu-container .row img {
    margin-right: 1rem;
}

.navbar-menu-open {
    right: 0;
}

/* ======== SAWALIRAM_AUTH ======== */

.auth-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

@media (max-width: 992px) {
    .auth-container {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
}

.signin-form-section {
    min-width: 20rem;
    text-align: center;
}

.signin-form-section img {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

.signin-form-section .login-error {
    color: #d00000;
    font-size: 0.8rem;
}

.alternate-login-options-heading {
    border-bottom: 1px solid #CACACA;
    color: #808080;
    line-height: 0.1rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.alternate-login-options-heading span {
    background-color: #FFFFFF;
    padding: 5px 10px;
}

.social-login-section {
    display: flex;
    justify-content: space-between;
}

button.social-login {
    padding: 0.5rem 1.8rem;
}

@media (max-width: 320px) {
    button.social-login {
        padding: 0.5rem 1.2rem;
    }
}

button.social-login i {
    border-right: 1px solid;
    padding: 0.2rem 0.5rem 0.2rem 0;
    margin-right: 0.2rem;
}

.signup-message, .signin-message {
    color: #808080;
}

.signup-message {
    margin-top: 1.5rem;
}

.onboarding-form-section h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
    .onboarding-form-section button.social-login {
        padding: 0.5rem 2.5rem;
    }
}

@media (min-width: 992px) {
    .onboarding-form-section {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .onboarding-text-column {
        position: relative;
    }
    
    .signin-message {
        position: absolute;
        bottom: 0;
    }
}

.onboarding-form-column {
    text-align: center;
}

@media (max-width: 768px) {
    .onboarding-form-column {
        margin-top: 1.5rem;
    }
}

.onboarding-form-column .error {
    font-size: 0.8rem;
    text-align: right;
    padding: 0 1rem;
    margin-bottom: 0.2rem;
    color: #d00000;
}

.onboarding-form-column .error-field input,
.onboarding-form-column .error-field input:focus {
    border: 2px solid #d00000;
    box-shadow: none;
}

.password-plaintext {
    text-align: left;
    height: 1rem;
    font-size: 12px;
    color: #9e9e9e;
    padding: 0 1rem;
}

.password-plaintext i {
    float: right;
    font-size: 1rem;
    cursor: pointer;
    color: #9e9e9e;
}

.password-plaintext.hidden {
    color: #ffffff;
}

.onboarding-form-column .volunteer-option {
    text-align: left;
    background-color: #ececec;
    padding: 10px 20px;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.onboarding-form-column .volunteer-option:last-of-type {
    margin-bottom: 1.5rem;
}

.onboarding-form-column .volunteer-option label{
    margin-left: 0.4rem;
}

.onboarding-form-column .volunteer-option .small {
    color: #757575;
}

.onboarding-form-column .volunteer-option.selected,
.onboarding-form-column .volunteer-option.selected .small {
    color: #87B24D;
    background-color: #f7ffed; 
}

.onboarding-form-column .volunteer-option .volunteer-dialog {
    display: none;
}

.onboarding-form-column .volunteer-option .volunteer-dialog textarea {
    border-radius: 5px;
}

/* ======== OLDER STYLES ======== */

/* ----- General styles ----- */

.label {
    color: #444;
}

::placeholder /* Chrome, Firefox, Opera, Safari 10.1+ */,
:-ms-input-placeholder /* Internet Explorer 10-11 */,
::-ms-input-placeholder /* Microsoft Edge */ {
    color: #949494;
}

::placeholder {
    opacity: 1; /* Firefox */
}

form .form-text {
    color: #949494;
}

.flex-grow {
    flex: 1;
}

.green-button {
    font-weight: bold;
    text-transform: uppercase;
    color: #55B377;
    background-color: #55b37724;
}

.green-button:hover {
    box-shadow: 0 0 0 2px #55b377ad;
    color: #55B377;
}

.grey-button {
    background-color: #ececec;
    color: #7d7d7d;
    font-size: 14px;
}

.grey-button:hover {
    background-color: #55b37724;
    color: #55B377;
}

.sawaliram-container {
    margin-top: 90px;
    margin-bottom: 60px;
}

@media (max-width: 576px) {
    .sawaliram-container {
        margin-top: 80px;
        margin-bottom: 10px;
        font-size: 13px;
    }
}

.sawaliram-container .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid grey;
}

.sawaliram-container .form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid #444;
}

footer {
    text-align: center;
    padding: 20px;
    padding-bottom: 50px; 
    color: #757575;
}

@media (max-width: 576px) {
    footer {
        padding-bottom: 20px;
        font-size: 13px;
    }
}

footer p {
    margin-bottom: 3px;
}

.grey-link {
    color: #757575;
    text-decoration: underline;
}

.grey-link:hover {
    color: #629781;
}

.table thead {
    color: #777777;
}

#editor .ql-editor {
    min-height: 400px;
}

/* ----- Home styles ----- */
h1.dashboard-home-greeting {
    font-size: 26px;
    font-weight: 600;
    color: #8e8e8e;
    text-align: center;
}

@media (max-width: 576px) {
    h1.dashboard-home-greeting {
        font-size: 20px;
    }
}

.task-list {
    margin-top: 50px;
}

@media (max-width: 576px) {
    .task-list {
        margin-top: 35px;
    }
}

.task-list .task-card {
    color: black;
    max-width: 1000px;
    text-align: left;
    border-radius: 5px;
    padding-bottom: 17px;
    transition: 0.3s;
    margin: auto;
    margin-bottom: 30px;
    border: 3px solid #e6e6e6;
    border-style: dotted;
}

@media (max-width: 576px) {
    .task-list .task-card {
        padding: 15px;
        margin-bottom: 25px;
    }
}

.task-list .task-card a {
    text-decoration: none;
}

.task-list .task-card:hover {
    border-color: #55b37799;
    text-decoration: none;
}

.task-list .task-card:hover .task-stat {
    color: #55B377;
}

.task-list .task-card h3 {
    font-size: 19px;
    margin-top: 23px;
    margin-bottom: 4px;
    font-weight: 600;
}

@media (max-width: 576px) {
    .task-list .task-card h3 {
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 4px;
    }
}

.task-list .task-card p {
    font-size: 17px;
    color: #8e8e8e;
}

@media (max-width: 576px) {
    .task-list .task-card p {
        font-size: 14px;
        margin-bottom: 5px;
    }
}

.task-list .task-card .task-stat {
    font-style: italic;
    color: #b5b5b5;
    font-size: 15px;
    transition: 1s;
}

@media (max-width: 576px) {
    .task-list .task-card .task-stat { 
        font-size: 13px;
    }
}

.task-list .task-card .task-icon {
    margin: 25px;
    margin-right: 30px;
}

@media (max-width: 576px) {
    .task-list .task-card .task-icon {
        margin: 0;
        margin-right: 20px;
    }

    .task-list .task-card .task-icon img {
        width: 45px;
    }
}

.task-list .task-card .sub-task-button {
    margin-right: 10px;
    border: none;
    padding: 7px 20px;
    margin-top: 5px;
    text-transform: none;
    font-weight: normal;
}

@media (max-width: 576px) {
    .task-list .task-card .sub-task-button {
        margin-right: 0;
        margin-top: 10px;
        width: 100%;
        padding: 7px 10px;
        font-size: 12px;
    }
}

.task-list .task-card .sub-task-button i {
    margin-right: 5px;
}

.task-list .task-card.task-with-sub-tasks {
    padding-bottom: 25px;
}

@media (max-width: 576px) {
    .task-list .task-card.task-with-sub-tasks {
        padding-bottom: 20px;
    }
}

/* ----- Task pages styles ----- */
h1.task-heading {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #545454;
    text-align: center;
}

@media (max-width: 576px) {
    h1.task-heading {
        font-size: 20px;
        margin-bottom: 30px;
        text-align: left;
    }
}

.task-info {
    background-color: #f7f7f7;
    border-radius: 3px;
    color: #7a7a7a;
    padding: 10px;
    margin-bottom: 20px;
}

.task-info a {
    color: #7a7a7a;
    text-decoration: underline;
}

h3.task-section-heading {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #777777;
}

@media (max-width: 576px) {
    h3.task-section-heading {
        font-size: 17px;
    }
}

h4.task-section-sub-heading {
    font-size: 18px;
    margin-bottom: 20px;
}

.task-notes {
    text-align: center;
    color: #8e8e8e;
    font-size: 14px;
}

/* submit-questions */
.question-submission-form {
    color: #6f6f6f;
}

.question-submission-form .form-group {
    margin-bottom: 40px;
}

@media (max-width: 576px) {
    .question-submission-form .form-group {
        margin-bottom: 25px;
    }
}

.required-field-text {
    color: #a0a0a0;
    font-style: italic;
}

.published-information {
    display: none;
}

.question-card {
    margin-bottom: 25px;
}

.delete-question-button {
    position: absolute;
    right: 15px;
    top: 11px;
    background: none;
    border: none;
    cursor: pointer;
    color: #a7a7a7;
    display: none;
}

.delete-question-button:hover {
    color: #dc3545;
}

.add-question-button {
    background-color: #eaeaea;
    color: #444;
}

.add-question-button:hover {
    background-color: #e2e2e2;
}

.btn.add-question-button:focus {
    box-shadow: none;
}

/* submit-excel-sheet */
.first-excel-data-type-radio-button {
    margin-bottom: 10px;
}

.custom-file-input {
    cursor: pointer;
}

.template-download-message {
    margin-bottom: 30px;
}

/* view-questions */
.filter-area {
    margin-bottom: 40px;
}

#filterForm .filter-form-section-label {
    color: #888;
}

#questionsList .card {
    border: none;
    color: #b7b7b7;
}

#questionsList .card:not(:last-child) {
    margin-bottom: 40px;
}

#questionsList .card .card-header {
    padding: 0;
    border-bottom: none;
    background: none;
}

#questionsList .card .card-header h3 {
    color: #444;
    font-size: 18px;
    margin-bottom: 5px;
}

#questionsList .card .card-body {
    padding: 10px 15px;
    padding-left: 0;
    font-size: 15px;
}

.highlighted-meta-area {
    margin-bottom: 13px;
}

.highlighted-meta {
    padding: 2px;
    padding-right: 10px;
    font-size: 13px;
}

.highlighted-meta:not(:last-child) {
    border-right: 1px solid #b7b7b7;
    margin-right: 10px;
}

.highlighted-meta i {
    font-size: 13px;
    margin: 0 5px;
    color: #b7b7b7;
}

#questionsList .card .card-body .meta-phrase-section {
    margin-bottom: 13px;
}

.highlighted-meta .meta-value {
    color: #777;
}

.empty-result-text {
    text-align: center;
    color: #4e4e4e;
}

/* manage-data */
.submissions-table {
    margin-bottom: 45px;
}

/* answer-question */
.question-text-heading {
    font-size: 30px;
}

.answer-question.highlighted-meta-area {
    margin-bottom: 30px;
}

/* ----- Action successfull pages styles ----- */
.action-success-page-wrapper {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 20px;
}

.action-success-page-wrapper i {
    font-size: 35px;
    color: green;
}

.action-success-page-wrapper h1 {
    font-size: 32px;
    margin-top: 15px;
}

.action-success-page-wrapper p {
    color: #757575;
}

.action-success-page-wrapper a {
    color: #3a3a3a;
    text-decoration: underline;
}
