

.analytics_title > h1 {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 0.8rem;
}

.analytics_title > h3 {
	margin-bottom: 0.8rem;
	vertical-align: center;
	align-items: center;
	font-size: 1.5em;
	font-family: fantasy;
	font-weight: 700;
	margin-left:1em;
}

.param-flex {
	display: flex;
	flex-direction: column;
	margin-left:20px;
	padding-bottom: 2px;
	flex-wrap: wrap;
  	align-content: space-between;
  	font-size:1em;
}

.graph-heading {
	text-align: center;
}

#bar-graph-container{

}

.num-question-graph-container {
	background-color: white;
	border-radius: 30px;
	padding-top:40px;
}
.graph-row {
	padding-left:100px;
	padding-top:40px;
}

.question_counter {
	font-family: Courier;
	height: 300px;
	width:300px;
	text-align: center;
	padding-top:10px;
}

.counter-value {
	vertical-align: center;
	margin-left: 20px;
	font-size: 1.5em;
	font-family: fantasy;
}

.filled-div {
	font-size: 1.5em;
	background-color: #FEB740;
	border-radius: 30px;
	padding-top: 50px;
	height:100%;
}

.highlighted-area {
	background-color: black;
	color:white;
}

.margin_ten {
	margin:1% !important;
}


.center {
	width: 50%;
  	margin: 0 auto !important;
}
@media screen and (max-width: 768px) {
	
	.param-flex {
		flex-direction: row;
		font-size:0.6em;
	}

	.graph-row {
	padding-left:5px;
	padding-top:5px;
}

	.filled-div {
		font-size: 1em;
		border-radius: 20px;
		padding-top: 10px;
	}

		.analytics_title > h3 {
		margin-bottom: 0.8rem;
		vertical-align: center;
		align-items: center;
		font-size: 1.0em;
		font-family: fantasy;
		font-weight: 700;
		margin-left:1em;
	}

	.counter-value {
		margin-left: 5px;
		font-size: 1em;
		font-family: fantasy;
	}
}

input[type="radio"]{
	margin:10px;
}

.h-divider{
	padding:0px;
	margin-top:5px;
	margin-bottom:5px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(9, 84, 132), rgba(0, 0, 0, 0));
}


/* Map */

.india-map {
	position: relative;
	overflow: scroll;
}


.hoverinfo-india {
	pointer-events: none;
	white-space: nowrap;
	background-color: rgba(255, 255, 255, 0.90);
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 2px 2px, rgba(0, 0, 0, 0.34902) 0px 0px 1px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	text-align: center;
	font-size: 0.9em;
}

.india-map-legend {
	font-family: Courier New;
	background-color: #FEB740;
	text-align: center;
	padding:5px;

}


/* From W3School for Toggle Switch*/
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
} 

.slider.round:before {
  border-radius: 50%;
} 


.switch-name {
	display:inline-block;

	text-align: center;
}

.switch-name-container {
	display: inline-block;
	padding:10px; 
}


.datamap{
	overflow:scroll;
}