{% extends "public_website/base.html" %}

{% block title %} Review Answers | Sawaliram {% endblock %}

{% block content %}

<h1 class="task-heading">Review Answers</h1>

<div id="questionsList">
    {% if unreviewed_answers %}
        {% for answer in unreviewed_answers %}
            {% with question=answer.question_id %}
            <div class="card">
                <div class="card-header" id="answerCard{{ forloop.counter }}">
                    <h3>{{ forloop.counter }}. {{ answer.question_id.question_text }}</h3>
                </div>
                <div class="card-body">
                    {% if question.student_class or question.school or question.state or question.area %}
                        <div class="highlighted-meta-area">
                            {% if question.student_class %}
                                <span class="highlighted-meta">
                                    <i class="fas fa-user-graduate"></i></i>
                                    <span class="meta-value">
                                        Grade {{ question.student_class }}
                                    </span>
                                </span>
                            {% endif %}

                            {% if question.school %}
                                <span class="highlighted-meta">
                                    <i class="fas fa-graduation-cap"></i>
                                    <span class="meta-value">
                                        {{ question.school }}
                                        {% if question.curriculum_followed %}
                                            ({{ question.curriculum_followed }})
                                        {% endif %}
                                    </span>
                                </span>
                            {% endif %}

                            {% if question.area or question.state %}
                                <span class="highlighted-meta">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span class="meta-value">
                                        {% if question.area %}
                                            {{ question.area.rstrip }} {% if question.state %}, {{ question.state }} {% endif %}
                                        {% elif question.state %}
                                            {{ question.state }}
                                        {% endif %}
                                    </span>    
                                </span>
                            {% endif %}
                        </div>
                    {% endif %}
                    
                    <p>{{ answer.answer_text|striptags|truncatechars:100 }}</p>

                    <a class="btn grey-button" href="{% url 'dashboard:review-answer' answer.id %}">Review Answer</a>
                </div>
            </div>
            {% endwith %}
        {% endfor %}
    {% else %}
        <p class="empty-result-text">No answers to review. Try changing the filters.</p>
    {% endif %}
</div>
{% endblock %}
