{% extends "public_website/base.html" %}

{% load static %}
{% load render_linebreaks %}

{% block title %} Submit Review | Sawaliram {% endblock %}

{% block content %}
{% with question=answer.question_id %}
<div class="review-page-container">
    <div class="answer-area">
        <h1>{{ question.question_text }}</h1>
        <h2 class="answered-by">Answered by <b>{{ answer.answered_by.get_full_name }}</b></h2>
        <div class="answer-text">
            {{ answer.answer_text|safe }}
        </div>
        {% if request.user != answer.answered_by %}
        <form action="{% url 'dashboard:approve-answer' question_id=question.id answer_id=answer.id %}" method="POST">
            {% csrf_token %}
            <p class="publish-info-text">
                If you think this answer is complete and adequately answers the question, click the 'Publish' button to publish the answer. If you believe the answer can be improved, leave a comment on the right side.
            </p>
            <button type="submit" class="btn btn-primary btn-block">Publish</button>
        </form>
		{% endif %}
    </div>
    <div class="comment-area">
        <h2>Comments</h2>
        {% if comments %}
            <ul class="comment-list">
                {% for comment in comments %}
                <li class="comment-box">
                    <div class="comment-header">
                        <h3>{{ comment.author.get_full_name }}</h3>
                        {% if comment.author == request.user %}
                        <div class="delete-comment-wrapper">
                            <button type="submit" class="btn delete-comment slow-transition">Delete <i class="far fa-trash-alt"></i></button>
                            <form action="{% url 'dashboard:delete-answer-comment' question.id answer.id comment.id %}" class="delete-comment-form slow-transition" method="POST">
                                {% csrf_token %}
                                <span>Are you sure?</span>
                                <button class="btn confirm-delete delete-yes">Yes</button> /
                                <button class="btn confirm-delete delete-no">No</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <p class="commane-date">{{ comment.created_on|date:"j F, Y" }}</p>
                    <p class="comment-text">
                        {{ comment.text|escape|render_linebreaks|safe }}
                    </p>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{% url 'dashboard:submit-answer-comment' question.id answer.id %}" method="POST">
            {% csrf_token %}
            <textarea name="comment-text" rows="4" placeholder="Join the conversation"></textarea>
            <button type="submit" class="btn btn-secondary">Add Comment</button>
        </form>
    </div>
</div>
{% endwith %}
{% endblock %}