{% extends "dashboard/base.html" %}

{% load static %}

{% block head_includes %}
    <link href="{% static 'css/quill.sawaliram.css' %}" rel="stylesheet">
{% endblock %}

{% block title %} Review Answer | Sawaliram {% endblock %}

{% block content %}

{% with question=answer.question_id %}
	<h1 class="question-text-heading">{{ question.question_text }}</h1>
	
	<div class="answer-question highlighted-meta-area">
	    {% if question.student_class %}
	        <span class="highlighted-meta">
	            <i class="fas fa-user-graduate"></i></i>
	            <span class="meta-value">
	                Grade {{ question.student_class }}
	            </span>
	        </span>
	    {% endif %}
	
	    {% if question.school %}
	        <span class="highlighted-meta">
	            <i class="fas fa-graduation-cap"></i>
	            <span class="meta-value">
	                {{ question.school }}
	                {% if question.curriculum_followed %}
	                    ({{ question.curriculum_followed }})
	                {% endif %}
	            </span>
	        </span>
	    {% endif %}
	
	    {% if question.area or question.state %}
	        <span class="highlighted-meta">
	            <i class="fas fa-map-marker-alt"></i>
	            <span class="meta-value">
	                {% if question.area %}
	                    {{ question.area.rstrip }} {% if question.state %}, {{ question.state }} {% endif %}
	                {% elif question.state %}
	                    {{ question.state }}
	                {% endif %}
	            </span>    
	        </span>
	    {% endif %}
	    <span class="highlighted-meta">
			<i class="fas fa-user"></i>
			<span class="meta-value">Answered by <a href="#">{{ answer.answered_by.get_full_name }}</a></span>
	    </span>
	</div>
	
	<div id="answer">{{ answer.answer_text|safe }}</div>
	
	<div class="comment-thread" style="margin-top: 1em; margin-bottom: 1em; padding: 10px; background-color: #CFF09E;">
		<h2>Comments</h2>
		<hr />
		{% for comment in comments %}
		    {% if comment.author == request.user %}
            <form action="{% url 'dashboard:delete-answer-comment' answer.id comment.id %}" method="GET">
            {% else %}
            <div>
            {% endif %}
				<p>
                    <b>{{ comment.author.get_full_name }}</b>
                    at {{ comment.created_on }}
                    {% if comment.author == request.user %}(<button type="submit" class="inline-button">delete</button>){% endif %}
                </p>
				{{ comment.text|safe }}
			{% if comment.author == request.user %}
            </form>
            {% else %}
            </div>
            {% endif %}
			<hr />
		{% endfor %}
	    
	    <form action="{% url 'dashboard:submit-answer-comment' answer.id %}" id="comment-form" class="rich-text-form" method="POST" style="background-color: white;">
		    {% csrf_token %}
		    <div id="toolbar">
		        <span class="ql-formats">
		            <button class="ql-bold"></button>
		            <button class="ql-italic"></button>
		            <button class="ql-underline"></button>
		        </span>
		        <span class="ql-formats">
		            <button class="ql-script" value="sub"></button>
		            <button class="ql-script" value="super"></button>
		        </span>
		        <span class="ql-formats">
		            <button class="ql-list" value="ordered"></button>
		            <button class="ql-list" value="bullet"></button>
		            <button class="ql-indent" value="-1"></button>
		            <button class="ql-indent" value="+1"></button>
		        </span>
		        <span class="ql-formats">
		            <button class="ql-blockquote"></button>
		            <button class="ql-link"></button>
		            <button class="ql-image"></button>
		            <button class="ql-video"></button>
		            <button class="ql-formula"></button>
		        </span>
		    </div>
		    <div id="comment-editor"></div>
		    
		    <input type="hidden" name="comment-text" value="[Enter Comment]" />
		    <button type="submit" class="btn btn-block grey-button">Add Comment</button>
		</form>
	</div>
	</form>
	{% if request.user != answer.answered_by %}
		<form action="{% url 'dashboard:submit-answer-approval' answer.id %}" method="POST">
            {% csrf_token %}
			<button type="submit" class="btn btn-block green-button">Accept Answer</button>
	    </form>
	{% endif %}
{% endwith %}

{% endblock %}

{% block footer %}
<script type="text/javascript">
	var quill = new Quill('#comment-editor', {
        theme: 'snow',
        modules: {
            toolbar: '#toolbar'
        }
    });

    $('#comment-form').submit(function(e) {
        $('[name="comment-text"]').val(quill.root.innerHTML);
    });
</script>
{% endblock %}
