{% extends "dashboard/base.html" %}

{% load static %}
{% load render_linebreaks %}

{% block title %} Review Answer | Sawaliram {% endblock %}

{% block content %}

{% with question=answer.question_id %}
	<h1 class="question-text-heading">{{ question.question_text }}</h1>
	
	<div class="answer-question highlighted-meta-area">
	    {% if question.student_class %}
	        <span class="highlighted-meta">
	            <i class="fas fa-user-graduate"></i></i>
	            <span class="meta-value">
	                Grade {{ question.student_class }}
	            </span>
	        </span>
	    {% endif %}
	
	    {% if question.school %}
	        <span class="highlighted-meta">
	            <i class="fas fa-graduation-cap"></i>
	            <span class="meta-value">
	                {{ question.school }}
	                {% if question.curriculum_followed %}
	                    ({{ question.curriculum_followed }})
	                {% endif %}
	            </span>
	        </span>
	    {% endif %}
	
	    {% if question.area or question.state %}
	        <span class="highlighted-meta">
	            <i class="fas fa-map-marker-alt"></i>
	            <span class="meta-value">
	                {% if question.area %}
	                    {{ question.area.rstrip }} {% if question.state %}, {{ question.state }} {% endif %}
	                {% elif question.state %}
	                    {{ question.state }}
	                {% endif %}
	            </span>    
	        </span>
	    {% endif %}
	    <span class="highlighted-meta">
			<i class="fas fa-user"></i>
			<span class="meta-value">Answered by <a href="#">{{ answer.answered_by.get_full_name }}</a></span>
	    </span>
	</div>
	
	<div id="answer">{{ answer.answer_text|safe }}</div>
	
	<div class="comment-thread">
		<h2>Comments</h2>
		<hr />
		{% for comment in comments %}
		    {% if comment.author == request.user %}
            <form action="{% url 'dashboard:delete-answer-comment' answer.id comment.id %}" id="comment-delete-form-{{ comment.id }}" class="comment-delete-form" method="GET">
            {% else %}
            <div>
            {% endif %}
				<p>
                    <b>{{ comment.author.get_full_name }}</b>
                    at {{ comment.created_on }}
                    {% if comment.author == request.user %}(<span class="delete-span"><button type="submit" class="inline-button delete-button">delete</button></span>){% endif %}
                </p>
				{{ comment.text|escape|render_linebreaks|safe }}
			{% if comment.author == request.user %}
			{% csrf_token %}
            </form>
            {% else %}
            </div>
            {% endif %}
			<hr />
		{% endfor %}
	    
	    <form action="{% url 'dashboard:submit-answer-comment' answer.id %}" id="comment-form" class="rich-text-form comment-form" method="POST">
		    {% csrf_token %}
		    <textarea name="comment-text" value=""></textarea>
		    <button type="submit" class="btn btn-block grey-button">Add Comment</button>
		</form>
	</div>
	</form>
	{% if request.user != answer.answered_by %}
		<form action="{% url 'dashboard:submit-answer-approval' answer.id %}" method="POST">
            {% csrf_token %}
			<button type="submit" class="btn btn-block green-button">Accept Answer</button>
	    </form>
	{% endif %}
{% endwith %}

{% endblock %}

{% block footer %}
<script>
function setupDeleteButtons() {
	forms = document.getElementsByClassName('comment-delete-form');
	for (i=0;i<forms.length;i++) {
		button = forms[i].getElementsByClassName('delete-button')[0];
		button.type = '';
		var form_id = forms[i].id;
        button.setAttribute('onclick', 'confirmDelete("' + form_id + '")'); // more JS-y method?
		button.innerHTML = 'delete?';
	}
}

function confirmDelete(form_id) {
	console.log('Confirming delete for ' + form_id);
	form = document.getElementById(form_id);
	span = form.getElementsByClassName('delete-span')[0];
	button = span.getElementsByClassName('delete-button')[0];
	span.removeChild(button);

	s1 = document.createElement('span');
	s1.innerHTML = 'delete? ';
	span.appendChild(s1);

	b1 = document.createElement('button')
	b1.innerHTML = 'cancel';
    b1.setAttribute('onclick', 'cancelDelete("' + form_id + '")'); // TODO: more JS-y method?
	b1.classList.add('inline-button');
	span.appendChild(b1);

	s2 = document.createElement('span');
	s2.innerHTML = ' | ';
	span.appendChild(s2);

	b2 = document.createElement('button');
	b2.innerHTML = 'confirm';
	b2.type = 'submit';
	b2.classList.add('inline-button');
	span.appendChild(b2);

	form.method = 'POST' // Warning: deletes without further confirmation!

	return false; // prevents form from submitting
}

function cancelDelete(form_id) {
	form = document.getElementById(form_id);
	span = form.getElementsByClassName('delete-span')[0];

	// Remove all children of span
	span.innerHTML = ''; // TODO: more JS-y method?

	button = document.createElement('button');
	button.innerHTML = 'delete?';
	button.type='submit';
	button.classList.add('inline-button');
	button.classList.add('delete-button');
    button.setAttribute('onclick', 'confirmDelete("' + form_id + '")'); // TODO: more JS-y method?
	span.appendChild(button);

	form.method = 'GET' // just in case

	return false; // prevents form from submitting
}

// Let's go!
setupDeleteButtons();
</script>
{% endblock %}
