{% extends "dashboard/translations/base_edit.html" %}

{% block tr_original %}
<header>
  <h1 class="p-3">{{ object.source.tr_question_text }}</h1>
  <div class="credits-card hr-over flex align-items-center p-2 my-2">
    <b class="credit-title">School</b>
    <span class="p-2">{{ object.source.tr_school }}</span>
  </div>
  <div class="credits-card hr-over flex align-items-center p-2 my-2">
    <b class="credit-title">Area</b>
    <span class="p-2">{{ object.source.tr_area }}</span>
  </div>
  <div class="credits-card hr-over flex align-items-center p-2 my-2">
    <b class="credit-title">State</b>
    <span class="p-2">{{ object.source.tr_state }}</span>
  </div>
  <div class="credits-card hr-over flex align-items-center p-2 my-2">
    <b class="credit-title">Curriculum</b>
    <span class="p-2">{{ object.source.tr_curriculum_followed }}</span>
  </div>
</header>
<section class="hr-over">
  {{ answer.source.tr_answer_text|safe }}
</section>
<footer>
</footer>
{% endblock %}

{% block tr_translation %}
<header>
  <h1><input type="text" name="{{ form.question_text.name }}" value="{{ form.question_text.value }}" placeholder="{{ object.source.tr_question_text }}" id="{{ form.question_text.id }}" class="input-plain input-title p-3" /></h1>
  <div class="hr-over flex align-items-center p-2 my-2 bg-white">
    <b>School</b>
    <span><input type="text" class="input-plain p-2" name="{{ form.school.name }}" value="{{ form.school.value }}" placeholder="{{ object.source.tr_school }}" id="{{ form.school.id }}" /></span>
  </div>
  <div class="hr-over flex align-items-center p-2 my-2 bg-white">
    <b>Area</b>
    <span><input type="text" class="input-plain p-2" name="{{ form.area.name }}" value="{{ form.area.value }}" placeholder="{{ object.source.tr_area }}" id="{{ form.area.id }}" /></span>
  </div>
  <div class="hr-over flex align-items-center p-2 my-2 bg-white">
    <b>State</b>
    <span><input type="text" class="input-plain p-2" name="{{ form.state.name }}" value="{{ form.state.value }}" placeholder="{{ object.source.tr_state }}" id="{{ form.state.id }}" /></span>
  </div>
  <div class="hr-over flex align-items-center p-2 my-2 bg-white">
    <b>Curriculum</b>
    <span><input type="text" class="input-plain w-100 p-2" name="{{ form.curriculum_followed.name }}" value="{{ form.curriculum_followed.value }}" placeholder="{{ object.source.tr_curriculum_followed }}" id="{{ form.curriculum_followed.id }}" /></span>
  </div>
</header>
<div class="bg-white">
{% include 'dashboard/snippets/richtext_editor.html' with value=answer.answer_text class='' %}
  <footer id="submitbar">
    <input type="hidden" name="answer-text" value="{{ answer.answer_text }}" />
    <button type="submit" name="mode" value="submit" class="btn btn-primary">Submit translation</button>
    <button type="submit" name="mode" value="draft" class="btn btn-primary-hollow">Save Draft</button>
    <a href="{% url 'dashboard:delete-answer-translation' object.id %}" class="text-danger float-right" data-toggle="tooltip" data-placement="left" title="Delete translation">
      <i class="fas fa-trash"></i>
    </a>
  </footer>
</div>
{% endblock %}

{% block footer %}
<script>
    setupQuillEditor({
        placeholder: 'Translation goes here...',
        inputName: 'answer-text'
    })
</script>
{% endblock %}
