{% extends "public_website/base.html" %}

{% load i18n %}
{% load static %}

{% block head_includes %}
    <link href="{% static 'css/quill.sawaliram.css' %}" rel="stylesheet">
{% endblock %}

{% block title %} {% trans 'Delete Translation' %} | {% trans 'Sawaliram' %}{% endblock %}

{% block content %}

<div class="wide-container">
  <h3><i class="fas fa-exclamation-triangle"></i> {% trans 'Delete translation' %}</h3>
  <p>{% trans 'Are you sure you want to delete the following answer translation? This action cannot be undone.' %}</p>

  <ul class="card-list">
    <li class="task-details">
        <h4>
            <a href="{{ answertranslation.get_absolute_url }}">{{ answertranslation.source.question_id.tr_question_text }}</a>
            <small>({{ answertranslation.source.language }} -> {{ answertranslation.language }})</small>
        </h4>
        <p>{{ answertranslation.answer_text|default:''|striptags|truncatechars:140 }}</p>
        <small>{% blocktrans %}Translated from <a href="{{ answertranslation.source.get_absolute_url }}">an answer to {{ answertranslation.source.question_id.question_text }}</a>{% endblocktrans %}</small>
    </li>
  </ul>

  <form action="{{ request.get_current_url }}" method="POST">
    {% csrf_token %}
    <a class="btn btn-small btn-secondary" href="{{ answertranslation.get_absolute_url }}"><i class="fas fa-arrow-left"></i> {% trans 'Go back' %}</a>
    <button type="submit" class="btn btn-small btn-danger-hollow"><i class="fas fa-trash"></i> {% trans 'Delete translation' %}</button>
  </form>
</div>

{% endblock %}
