{% extends "dashboard/translations/base_edit.html" %}

{% load i18n %}
{% load to_language_name %}

{% block tr_original %}

<header>
  <h1 class="p-3">{{ object.source.tr_question_text }}</h1>
  <div class="meta-section mx-3">
    <div class="highlighted-meta">
      <i class="fas fa-university" title="{% trans 'School' %}"></i>
      <span class="sr-only">{% trans 'School' %}</span>
      <span class="meta-value">{{ object.source.tr_school }}</span>
    </div>
    <div class="highlighted-meta">
      <i class="fas fa-book" alt="{% trans 'Curriculum followed' %}"></i>
      <span class="sr-only">{% trans 'Curriculum followed' %}</span>
      <span class="meta-value">{{ object.source.tr_curriculum_followed }}</span>
    </div>
  </div>
  <div class="meta-section mx-3">
    <div class="highlighted-meta">
      <i class="fas fa-map-marker-alt" title="{% trans 'Area' %}"></i>
      <span class="sr-only">{% trans 'Area' %}</span>
      <span class="meta-value">{{ object.source.tr_area }}</span>
    </div>
    <div class="highlighted-meta">
      <i class="fas fa-map-marked-alt" title="{% trans 'State' %}"></i>
      <span class="sr-only">{% trans 'State' %}</span>
      <span class="meta-value">{{ object.source.tr_state }}</span>
    </div>
  </div>
</header>
<section class="hr-over">
  {{ answer.source.tr_answer_text|safe }}
</section>
<footer>
</footer>
{% endblock %}

{% block tr_translation %}
<header>
  <h1 class="border border-grey"><input type="text" name="{{ form.question_text.name }}" value="{{ form.question_text.value }}" placeholder="{{ object.source.tr_question_text }}" id="{{ form.question_text.id }}" class="input-plain input-title p-3" /></h1>
  <div class="meta-section meta-input-section flex flex-column flex-md-row">
    <div class="highlighted-meta bg-white border border-grey flex-fill flex align-items-center">
      <i class="fas fa-university mr-2" title="{% trans 'School' %}"></i>
      <span class="sr-only">{% trans 'School' %}</span>
      <input type="text" class="input-plain" name="{{ form.school.name }}" value="{{ form.school.value }}" placeholder="{{ object.source.tr_school }}" id="{{ form.school.id }}" />
    </div>
    <div class="highlighted-meta bg-white border border-grey flex-fill flex align-items-center">
      <i class="fas fa-book mr-2" alt="{% trans 'Curriculum followed' %}"></i>
      <span class="sr-only">{% trans 'Curriculum followed' %}</span>
      <input type="text" class="input-plain" name="{{ form.curriculum_followed.name }}" value="{{ form.curriculum_followed.value }}" placeholder="{{ object.source.tr_curriculum_followed }}" id="{{ form.curriculum_followed.id }}" />
    </div>
  </div>
  <div class="meta-section meta-input-section flex flex-column flex-md-row">
    <div class="highlighted-meta bg-white border border-grey flex-fill flex align-items-center">
      <i class="fas fa-map-marker-alt mr-2" title="{% trans 'Area' %}"></i>
      <span class="sr-only">{% trans 'Area' %}</span>
      <input type="text" class="input-plain" name="{{ form.area.name }}" value="{{ form.area.value }}" placeholder="{{ object.source.tr_area }}" id="{{ form.area.id }}" />
    </div>
    <div class="highlighted-meta bg-white border border-grey flex-fill flex align-items-center">
      <i class="fas fa-map-marked-alt mr-2" title="{% trans 'State' %}"></i>
      <span class="sr-only">{% trans 'State' %}</span>
      <input type="text" class="input-plain" name="{{ form.state.name }}" value="{{ form.state.value }}" placeholder="{{ object.source.tr_state }}" id="{{ form.state.id }}" />
    </div>
  </div>
</header>
<div class="bg-white">
{% include 'dashboard/snippets/richtext_editor.html' with value=answer.answer_text class='' name='answer-text' %}
</div>
<footer id="submitbar">
  {% if object.is_submitted %}
  <a href="{{ answer.get_absolute_url }}" class="btn btn-primary-hollow">{% trans 'Cancel' %}</a>
  <button type="submit" name="mode" value="draft" class="btn btn-primary">{% trans 'Update translation' %}</button>
  {% else %}
  <button type="submit" name="mode" value="submit" class="btn btn-primary">{% trans 'Submit translation' %}</button>
  <button type="submit" name="mode" value="draft" class="btn btn-primary-hollow">{% trans 'Save Draft' %}</button>
  {% endif %}
  <a href="{% url 'dashboard:delete-answer-translation' answer.id %}" class="text-danger float-right" data-toggle="tooltip" data-placement="left" title="{% trans 'Delete translation' %}">
    <i class="fas fa-trash"></i>
  </a>
</footer>
{% endblock %}
