{% extends "dashboard/translations/base_edit.html" %}

{% load i18n %}

{% block tr_original %}
<header class="flex">
  <h1>{{ object.source.tr_title }}</h1>
</header>
<section class="hr-over">
  {{ object.source.tr_body|safe }}
</section>
<footer>

</footer>
{% endblock %}

{% block tr_translation %}
<header class="flex">
  <h1 class="w-100"><input type="text" name="{{ form.title.name }}" value="{{ form.title.value }}" placeholder="{{ object.source.tr_title }}" id="{{ form.title.id }}" class="input-plain input-title p-3" /></h1>
</header>
<div class="bg-white">
  {% include 'dashboard/snippets/richtext_editor.html' with value=form.body.value class='' name=form.body.name %}
</div>

<footer id="submitbar">
  {% if object.is_submitted %}
  <a href="{{ object.get_absolute_url }}" class="btn btn-primary-hollow">{% trans 'Cancel' %}</a>
  <button type="submit" name="mode" value="draft" class="btn btn-primary">{% trans 'Update translation' %}</button>
  {% else %}
  <button type="submit" name="mode" value="submit" class="btn btn-primary">{% trans 'Submit translation' %}</button>
  <button type="submit" name="mode" value="draft" class="btn btn-primary-hollow">{% trans 'Save Draft' %}</button>
  {% endif %}
  <a href="{% url 'dashboard:delete-article-translation' object.id %}" class="text-danger float-right" data-toggle="tooltip" data-placement="left" title="{% trans 'Delete translation' %}">
    <i class="fas fa-trash"></i>
  </a>
</footer>
{% endblock %}
