{% load i18n %}
{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        
        <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}"/>

        {% block head_includes %} {% endblock %}


        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/reboot.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% endcompress %}

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap&subset=latin-ext" rel="stylesheet">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>        

        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@9.1.1/dist/css/autoComplete.min.css">
        <style>
            .autoComplete_result:hover {
                background-color:#ffebcc;
            }

            .autoComplete_highlighted {
                color: #FEB740;
            }

            .no_result span {
                padding: 8px;
            }
        </style>
    </head>
    <body class="d-flex flex-column {% block body_styles %}{% if grey_background == 'True' %}grey-background{% endif %}{% endblock %}">

        <div class="menu-background slow-transition"></div>

        <nav class="navbar-menu slow-transition">
            <button class="btn navbar-menu-close">
                <i class="fas fa-times"></i>
            </button>
            <div class="navbar-menu-container">
                <div class="row">
                    <div class="col-sm">
                        <img src="{% static 'icons/menu_research.png' %}" alt="{% trans 'Research' %}">
                        <a href="{% url 'public_website:research' %}">{% trans 'Research' %}</a>
                    </div>
                    <div class="col-sm">
                        <img src="{% static 'icons/menu_blog.png' %}" alt="{% trans 'Articles' %}">
                        <a href="{% url 'public_website:articles' %}">{% trans 'Articles' %}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <img src="{% static 'icons/menu_resource.png' %}" alt="{% trans 'Resources' %}">
                        <a href="{% url 'public_website:resources' %}">{% trans 'Resources' %}</a>
                    </div>
                    <div class="col-sm">
                        <img src="{% static 'icons/menu_analytics.png' %}" alt="{% trans 'Analytics' %}">
                        <a href="{% url 'public_website:analytics' %}">{% trans 'Analytics' %}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <img src="{% static 'icons/menu_about.png' %}" alt="{% trans 'About' %}">
                        <a href="{% url 'public_website:about' %}">{% trans 'About' %}</a>
                    </div>
                    <div class="col-sm">
                        <img src="{% static 'icons/menu_team.png' %}" alt="{% trans 'Team' %}">
                        <a href="javascript:void(0)">{% trans 'Team' %}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <img src="{% static 'icons/menu_contact.png' %}" alt="{% trans 'Contact Us' %}">
                        <a href="{% url 'public_website:contact' %}">{% trans 'Contact Us' %}</a>
                    </div>
                    <div class="col-sm">
                        <img src="{% static 'icons/menu_get_involved.png' %}" alt="{% trans 'Get Involved' %}">
                        <a href="{% url 'public_website:get-involved' %}">{% trans 'Get Involved!' %}</a>
                    </div>
                </div>
            </div>
        </nav>

        {% if request.user.is_authenticated %}
        <nav class="user-menu slow-transition">
            <button class="btn user-menu-close">
                <i class="fas fa-times"></i>
            </button>
            <div class="user-menu-container">
                <div class="user-menu-profile">
                    <img src="{% static 'user/default.png' %}" alt="{% trans 'Profile Picture' %}">
                    <p class="user-name">{{ request.user.get_full_name }}</p>
                    <a href="{% url 'public_website:user-profile' user_id=request.user.id %}" class="btn view-profile">{% trans 'View Profile' %}</a>
                </div>
                <div class="user-menu-items">
                    <a href="{% url 'public_website:user-profile' user_id=request.user.id %}#settings">
                        <img class="slow-transition" src="{% static 'icons/menu_settings.png' %}" alt="{% trans 'User Settings' %}">
                        {% trans 'Settings' %}
                    </a>
                    <a href="{% url 'public_website:user-profile' user_id=request.user.id %}#drafts">
                        <img class="slow-transition" src="{% static 'icons/menu_drafts.png' %}" alt="{% trans 'User Drafts' %}">
                        {% trans 'Drafts' %}
                    </a>
                    <a href="{% url 'public_website:user-profile' user_id=request.user.id %}#notifications">
                        <img class="slow-transition" src="{% static 'icons/menu_notifications.png' %}" alt="{% trans 'User Notifications' %}">
                        {% trans 'Notifications' %}
                        {% if request.user.notifications.all|length > 0 %}
                            <span class="notification-dot">{{ request.user.notifications.all|length }}</span>
                        {% endif %}
                    </a>
                    <a href="{% url 'public_website:user-profile' user_id=request.user.id %}#submissions">
                        <img class="slow-transition" src="{% static 'icons/menu_submissions.png' %}" alt="{% trans 'User Submissions' %}">
                        {% trans 'Submissions' %}
                    </a>
                    <a href="{% url 'public_website:user-profile' user_id=request.user.id %}#bookmarks">
                        <img class="slow-transition" src="{% static 'icons/menu_bookmarks.png' %}" alt="{% trans 'User Bookmarks' %}">
                        {% trans 'Bookmarks' %}
                    </a>
                    <a href="{% url 'sawaliram_auth:signout' %}">
                        <img class="slow-transition" src="{% static 'icons/menu_signout.png' %}" alt="{% trans 'User Signout' %}">
                        {% trans 'Signout' %}
                    </a>
                </div>
            </div>
        </nav>
        {% endif %}

        <div class="navbar-search-box slow-transition">
            <div class="navbar-search-form-wrapper">
                <form  id="nav-form" action="{% url 'public_website:search' %}" class="navbar-search-form slow-transition" method="GET">
                    <input type="text" class="search-field" name="q" placeholder="{% trans 'Search for questions, articles and resources' %}" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" id="search-field">
                </form>
                <button class="btn close-navbar-search-box"><i class="fas fa-times"></i></button>
            </div>
        </div>

        <header class="navbar fixed-top navbar-light">
            <div class="header-container">
                <div class="left-section">
                    <i class="fas fa-bars navbar-menu-toggle"></i>
                    <a class="navbar-brand slow-transition" href="{% url 'public_website:home' %}">
                       {% if page_title == _('Search') %}
                        <img class="slow-transition" id="mainLogo" src="{% static 'logos/Logo-2.svg' %}" alt="{% trans 'Sawaliram Home' %}">
                      {% elif page_title == _('Resources') %}
                        <img class="slow-transition" id="mainLogo" src="{% static 'logos/Logo-4.svg' %}" alt="{% trans 'Sawaliram Home' %}">
                     {% elif page_title == _('View Answer') %}
                        <img class="slow-transition" id="mainLogo" src="{% static 'logos/Logo-3.svg' %}" alt="{% trans 'Sawaliram Home' %}">
                     {% else %}
                         <img class="slow-transition" id="mainLogo" src="{% static 'logos/MainLogo-1.svg' %}" alt="{% trans 'Sawaliram Home' %}">
                     {% endif %}
                    </a>
                </div>
                <div class="right-section">
                    <i class="fas fa-search navbar-search-icon"></i>
                    <div class="dropdown navbar-element">
                        <button class="btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="languageSelector">
                            {{ current_language.1 }}
                            <i class="fas fa-chevron-down"></i>
                        </button>
                        <form class="dropdown-menu" aria-labelledby="languageSelector">
                            <input type="hidden" name="next" value="{{ current_path }}" />
                            {% for lang_code, language in language_choices %}
                            <button type="submit" class="dropdown-item" formaction="{% url 'public_website:set-language' lang_code %}">{{ language }}</a>
                            {% endfor %}
                        </form>
                    </div>
                    {% if request.user.is_authenticated %}
                    <div class="navbar-user-wrapper">
                        {% if request.user.notifications.all|length > 0 %}
                            <span class="notification-dot">{{ request.user.notifications.all|length }}</span>
                        {% endif %}
                        <button class="btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navbarUserButton">
                            <img class="profile-picture" src="{{ request.user.profile.profile_picture }}" style="background-color:{{ request.user.profile.profile_picture_bg }};" alt="User Profile Picture">
                            <span class="user-name">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="navbarUserButton">
                            <span class="dropdown-item">
                                <a href="{% url 'public_website:user-profile' user_id=request.user.id active_tab='settings' %}"><i class="fas fa-user-circle"></i> {% trans 'My Profile' %}</a>
                            </span>
                            <span class="dropdown-item">
                                <a href="{% url 'dashboard:home' %}"><i class="fas fa-pencil-ruler"></i> {% trans 'Dashboard' %}</a>
                            </span>
                            <span class="dropdown-item">
                                <a href="{% url 'sawaliram_auth:signout' %}"><i class="fas fa-sign-out-alt"></i> {% trans 'Signout' %}</a>
                            </span>
                        </div>
                    </div>
                    {% else %}
                        <a href="{% url 'sawaliram_auth:signin' %}" class="user-signin slow-transition btnicon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="iconz" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FEB740" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="12" cy="7" r="4" />
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                              </svg><span class="sign-text">Sign In</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </header>

        <div class="container sawaliram-container flex-grow">
            {% if page_title != 'Home' %}
            <div class="page-title-bar">
                <p class="page-title">
                    {% if enable_breadcrumbs == 'Yes' and page_title != 'Dashboard Home' %}
                        {% if page_title != 'Dashboard Home' %}
                            <a href="{% url 'dashboard:home' %}">{% trans 'Dashboard Home' %}</a> >
                        {% endif %}
                        {% if page_title == 'Submit Answer' %}
                            <a href="{% url 'dashboard:answer-questions' %}">{% trans 'Answer Questions' %}</a> >
                        {% endif %}
                        {% if page_title == 'Submit Review' %}
                            <a href="{% url 'dashboard:review-answers' %}">{% trans 'Review Answers' %}</a> >
                        {% endif %}

                        <!-- removed 'dashboard:manage-content' as per issue #409 -->
                        
                        {% if page_title == 'Translate Answer' %}
                            <a href="{% url 'dashboard:translate-answers' %}">{% trans 'Translate Content' %}</a> >
                        {% endif %}

                        {% if page_title == 'Translate Article' %}
                            <a href="{% url 'dashboard:translate-answers' %}">{% trans 'Translate Content' %}</a> >
                        {% endif %}

                        {% if page_title == 'Edit Answer Translation' %}
                            <a href="{% url 'dashboard:translate-answers' %}">{% trans 'Translate Content' %}</a> >
                        {% endif %}

                        {% if page_title == 'Edit Article Translation' %}
                            <a href="{% url 'dashboard:translate-answers' %}">{% trans 'Translate Content' %}</a> >
                        {% endif %}

                    {% endif %}
                    {{ page_title }}
                </p>
            </div>
            {% endif %}
            <div class="content">
                {% block content %} {% endblock %}
            </div>
        </div>



        <div class="footer">
            <div class="footer_headline">
                <p class="footer_text">
                    {% trans 'Get involved as a parent, teacher, observer, coder or subject expert. <br>  Or simply by contributing to Sawaliram.' %}
                </p>
                <a href="{% url 'public_website:get-involved' %}" class="bt_d">{% trans 'Get Involved' %}</a>
            </div>


            <div class="footer_middle">
                <div class="f1_part">
                    <a href="javascript:void(0)">{% trans 'Team' %}</a>
                    <a href="{% url 'public_website:contact' %}">{% trans 'Contact' %}</a>
                    <a href="{% url 'public_website:faq' %}">{% trans 'FAQ' %}</a>
                    <a href="https://github.com/sawaliram/sawaliram" target="_blank">{% trans 'GitHub' %}</a>
                </div>

                    <div class="f2_part">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <rect x="4" y="4" width="16" height="16" rx="4" />
                                <circle cx="12" cy="12" r="3" />
                                <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                              </svg>
                            </a>
                        

                        <a href="https://www.facebook.com/Sawaliram/" target="_blank" rel="noopener noreferrer"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                          </svg>
                        </a>
                         

                        <a href="https://twitter.com/sawaliram" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" class="iconz" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
                          </svg>
                        </a>
                          
                    </div>
                </div>

            <div class="footer_end">
                <p class="copyright">&copy; {% trans 'Copyright Sawaliram/Eklavya 2021. All rights reserved.' %}</p>
            </div>
        </div>


        {% compress js %}
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        {% endcompress %}
        
        {% block script_includes %} {% endblock %}

        
        {% block footer %}{% endblock %}

        
        <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@9.1.1/dist/js/autoComplete.min.js"></script>

        {% compress js %}
        <script>
            var url = "{% url 'public_website:suggestions' %}";
            var suggestions;

            fetch(url).then(response => response.json()).then(dx => {
                suggestions = dx.suggestion;

                const autoCompleteJS = new autoComplete({
                    selector: '#search-field',
                    data: {
                        src: suggestions
                    },
                    trigger: {
                        event: ["input", "focus"]
                    },
                    resultsList: {
                        noResults: (list, query) => {
                            const message = document.createElement("div");
                            message.setAttribute("class", "no_result");
                            message.innerHTML = `<span style="display: flex; align-items: center; font-weight: 100; color: rgba(0,0,0,.2);">Found No Results for "${query}"</span>`;
                            list.appendChild(message);
                        }
                    },
                    resultItem: {
                        highlight: {
                            render: true
                        },
                        content: (data, element) => {
                            element.style = "display: flex; justify-content: space-between;";
                            element.innerHTML = `<span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                    ${data.match}</span>`;
                        }
                    },
                    onSelection: (feedback) => {
                        document.querySelector("#search-field").blur();
                        const selection = feedback.selection.value;
                        document.querySelector("#search-field").value = selection;
                        $('#nav-form').submit();
                    }
                });
            });
        </script>
        {% endcompress %}
    </body>
</html>
