{% extends "public_website/base.html" %}

{% block title %} Contact | Sawaliram {% endblock %}

{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="map-col">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.308910204539!2d78.30594009866918!3d17.444922750527084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9339d1a74c81%3A0x935b535273303bdc!2sTata%20Institute%20of%20Fundamental%20Research%2C%20Dept%20of%20Atomic%20Energy!5e0!3m2!1sen!2sin!4v1579785275818!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 20rem" allowfullscreen=""></iframe>
    <p class="font-weight-bold" style="margin-top: 20px;">
      Address:
    </p>
    <p style="font-size: 15.3px;">36/P, Gopanpally Village, <br> Serilingampally Mandal, <br> Ranga Reddy District, <br> Hyderabad 500107 </p>
    <p>
      Call us on +91 02770 87874
    </p>

    </div>
    <div class="col-6">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible fade show {% if message.tags %} {{ message.tags }} {% endif %}" role="alert">
              {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
          {% endfor %}
        {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col">
              <label for="id_name">Full Name*</label><br>
              <input type="text" class="form-control" id="id_fullname" name="fullname" placeholder="Full Name" required>
          </div>
          <div class="col">
              <label for="id_email">Email ID*</label>
              <input type="email" class="form-control" id="id_emailid" name="emailid" placeholder="eg. Username@gmail.com" required>
          </div>
        </div>
  
        <div class="form-group">
          <label for="id_sub">Subject*</label>
          <input type="text" class="form-control" id="id_subject" name="subject" placeholder="Title of your message" required>

          <label for="id_message">Message*</label>
          <textarea class="form-control rounded-2 " rows="8" id="id_message" name="message" placeholder="What do you want to ask Sawaliram? (Upto 200 characters)" required></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary submit-excel">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %} 