{% extends "public_website/base.html" %}

{% load i18n %}
{% load static %}

{% block title %} {% trans 'Home' %} | {% trans 'Sawaliram' %} {% endblock %}
{% block content %}

<div id="homePageCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active rhyme-header">
            <div class="carousel-content">
                <div class="carousel-content-wrapper">
                    <img src="{% static 'illustrations/home_carousel1.png' %}">
                    <div class="carousel-text">
                        <h1 class="carousel-header first-banner-text">{{ first_banner_text }}</h1>
                        <p class="carousel-paragraph">{% trans 'Meet Sawaliram, a curious crow who likes questions' %}</p>
                        <button class="btn btn-yellow">{% trans 'Learn More' %}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-content">
                <div class="carousel-content-wrapper">
                    <img src="{% static 'illustrations/home_carousel2.png' %}">
                    <div class="carousel-text">
                        <h1 class="carousel-header">{% trans "Why don't sky and stars fall on earth?" %}</h1>
                        <p class="carousel-paragraph">{% trans 'Know the extent of all the questions, resources and blogs that Sawaliram has for you!' %}</p>
                        <a href="{% url 'public_website:search' %}" class="btn btn-yellow">{% trans 'View Questions' %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-content">
                <div class="carousel-content-wrapper">
                    <img src="{% static 'illustrations/home_carousel3.png' %}">
                    <div class="carousel-text">
                        <h1 class="carousel-header">{% trans '4000+ questions asked in 6 languages' %}</h1>
                        <p class="carousel-paragraph">{% trans 'Know the extent of all the questions, resources and blogs that Sawaliram has for you!' %}</p>
                        <button class="btn btn-yellow">{% trans 'View Analytics' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ol class="carousel-indicators">
        <li data-target="#homePageCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homePageCarousel" data-slide-to="1"></li>
        <li data-target="#homePageCarousel" data-slide-to="2"></li>
    </ol>
</div>

<div class="home-search-wrapper">
    <div class="home-search">
        <img class="home-search-img1" src="{% static 'illustrations/home_search1.png' %}" alt="Sawaliram Search">
        <form action="{% url 'public_website:search' %}" class="home-search-form" method="GET">
            <input type="hidden" name="category" value="questions">
            <input type="hidden" name="questions" value="answered">
            <input type="hidden" name="questions" value="unanswered">
            {% comment %}Placeholder text for search bar{% endcomment %}
            <input type="text" class="home-search-field" name="q" placeholder="{% trans 'Drop your question here' %}">
            <button class="btn home-search-submit" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>

<div class="row home-page-links">
    <div class="col-xs-12 col-lg-4 home-page-link-item">
        <h2>{% trans 'Research' %}</h2>
        <img src="{% static 'illustrations/home_research.png' %}">
        <p>{% trans 'What is curiosity really? At home and school, in the mind and in society. See what researchers find.' %}</p>
        <a href="{% url 'public_website:research' %}" class="btn btn-primary">{% trans 'Learn More' %}</a>
    </div>
    <div class="col-xs-12 col-lg-4 home-page-link-item">
        <h2>{% trans 'Articles' %}</h2>
        <img src="{% static 'illustrations/home_articles.png' %}">
        <p>{% trans 'Stories about curiosity from near and far, now and long ago. Your stories could be here too!' %}</p>
        <button class="btn btn-primary">{% trans 'View Articles' %}</button>
    </div>
    <div class="col-xs-12 col-lg-4 home-page-link-item">
        <h2>{% trans 'Resources' %}</h2>
        <img src="{% static 'illustrations/home_resources.png' %}">
        <p>{% trans 'View books, magazines, websites, Q&A collections, everything you want to know about curiosity and questioning.' %}</p>
        <button class="btn btn-primary">{% trans 'View Resources' %}</button>
    </div>
</div>

{% endblock %}
