{% load static %}

<form action="{% url 'public_website:update-profile-picture' %}" method="POST">
    {% csrf_token %}
    <h1>Choose a picture</h1>
    <div class="picture-option-container">
        {% for img_src in img_src_list %}
            <div class="picture-option-wrapper">
                <input type="radio" id="picture{{ forloop.counter }}" name="picture" value="/static/user/default_profile_pictures/dpp_{{ forloop.counter }}.png" {% if forloop.counter == current_picture_number %} checked {% endif %}>
                <label for="picture{{ forloop.counter }}">
                    <img src="{{ img_src }}" alt="Profile picture options">
                </label>
            </div> 
        {% endfor %}
    </div> 
    <button class="btn btn-small btn-secondary" type="submit">Change picture</button>
</form>
<button class="btn btn-small close-modal" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>