{% extends "public_website/base.html" %}

{% block title %} Research | Sawaliram {% endblock %}

{% load static %}

{% block content %}
<div class="research-intro-section">
    <h1>Why research?</h1>
    <h2>Research reveals a striking gap between curiosity and questioning.</h2>
    <div class="research-intro-p-wrapper">
        <div>
            <p>In everyday situations it is natural for us to talk about ‘curiosity’ and ‘questioning’ interchangeably: when we are curious, we ask questions, and a questioning child demonstrates curiosity. Yet, research shows up a striking gap between curiosity and questioning.</p>
            <p>‘Curiosity’ is a basic drive that goes way back in our evolutionary history, to perhaps hundreds of millions of years ago. Human babies from two months of age show curiosity while they perceive and explore their environment. As they learn to talk, the pre-schoolers' curiosity bursts forth into tens of thousands of questions they ask, every year.</p>
        </div>
        <div>
            <p>As children grow up and go to school, the picture changes dramatically. Researchers search in vain for questions asked by students in classrooms. At the same time psychologists and neuroscientists are convinced that, despite appearances, curiosity persists through adolescence, adulthood and even old age, though perhaps taking on newer forms. Such disconnects between curiosity and questioning, placed together with Sawaliram's rich repositories of children's questions, give reasons for us to raise our own questions, and provide the motivation that drives our group’s research.</p>
        </div>
    </div>
</div>
<div class="research-second-section">
    <div class="content-wrapper">
        <div>
            <h2>Our focus is on understanding the nature of children’s questions.</h2>
            <p>Children’s questions are a resource for teachers and researchers to learn about their motives and interests, their doubts and misunderstandings. Our focus is on understanding the nature of children’s questions when they are provided facilitative conditions and contexts that encourage questioning. We support participating teachers to create such conditions in their own classrooms. The open access database of Sawaliram may be queried online or made available to researchers for specific projects. Our larger goal is to find ways to encourage curiosity and questioning in children, and to translate our findings into an effective curricular and pedagogic program for the Indian school system.</p>
        </div>
        <img src="{% static 'illustrations/home_research.png' %}">
    </div>
</div>
<div class="research-links-section">
    <div class="research-link-row">
        <a href="javascript:void(0)"><span>Global studies on curiosity and questioning</span><i class="fas fa-chevron-right"></i></a>
        <a href="javascript:void(0)"><span>Curiosity and questioning - an Indian view</span><i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="research-link-row">
        <a href="javascript:void(0)"><span>Research methods and working with data</span><i class="fas fa-chevron-right"></i></a>
        <a href="javascript:void(0)"><span>Schools and organisations participating</span><i class="fas fa-chevron-right"></i></a>
    </div>
</div>
<div class="bibliography-section">
    <h2>Bibliography</h2>
    <div id="bibliographyList" class="sawaliram-accordion">
        <div class="card">
            <div class="card-header" id="bibliographyListHeadingOne" data-toggle="collapse" data-target="#bibliographyListOne" aria-expanded="true" aria-controls="bibliographyListOne">
                <h3>
                Development of curiosity
                </h3>
                <i class="fas fa-plus"></i>
            </div>
            <div id="bibliographyListOne" class="collapse" aria-labelledby="bibliographyListHeadingOne" data-parent="#bibliographyList">
                <div class="card-body">
                    <p>Chouinard, M., Harris, P., & Maratsos, M. (2007). Children's Questions: A Mechanism for Cognitive Development. <i>Monographs of the Society for Research in Child Development, 72</i>(1), I-129. [<a href="http://www.jstor.org/stable/30163594" target="_blank" >JSTOR</a>]</p>
                    <p>Engel, S. (2015). The Hungry Mind: The Origins of Curiosity in Childhood. Cambridge, MA: Harvard University Press. [<a href="https://www.hup.harvard.edu/catalog.php?isbn=9780674736757" target="_blank">HUP</a>]</p>
                    <p>Harris, P. L. (2015). Trusting What You’re Told: How Children Learn from Others. Cambridge, MA: Belknap Press. [<a href="https://www.hup.harvard.edu/catalog.php?isbn=9780674503830" target="_blank">HUP</a>]</p>
                    <p>Jirout, J. & Klahr, D. (2012). Children’s scientific curiosity: In search of an operational definition of an elusive concept. Developmental Review, 32, 125–160. doi: 10.1016/j.dr.2012.04.002 [<a href="https://www.sciencedirect.com/science/article/pii/S0273229712000123" target="_blank">ScienceDirect</a>]</p>
                    <p>Tizard, B. & Hughes, M. (2002). Young Children Learning (2nd Edition) Blackwell Publishing. [<a href="https://onlinelibrary.wiley.com/doi/book/10.1002/9780470774328" target="_blank">Wiley</a>]</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="bibliographyListHeadingTwo" data-toggle="collapse" data-target="#bibliographyListTwo" aria-expanded="true" aria-controls="bibliographyListTwo">
                <h3>
                Psychology and neuroscience of curiosity
                </h3>
                <i class="fas fa-plus"></i>
            </div>
            <div id="bibliographyListTwo" class="collapse" aria-labelledby="bibliographyListHeadingTwo" data-parent="#bibliographyList">
                <div class="card-body">
                    <p>Baranes, A., Oudeyer, P.-Y., & Gottlieb, J. (2015). Eye movements reveal epistemic curiosity in human observers. Vision Research, 117, 81-90. doi: 10.1016/j.visres.2015.10.009 [<a href="https://www.sciencedirect.com/science/article/pii/S0042698915003430" target="_blank" >ScienceDirect</a>]</p>
                    <p>Collins, N. (updated, June 14, 2017). For memory, curiosity is its own reward: A new study suggests a neural link between curiosity, motivation, and memory. Pacific Standard. [<a href="https://psmag.com/social-justice/memories-curiosity-reward-91486" target="_blank">PSMAG</a>]</p>
                    <p>Gottlieb, J., Oudeyer, P.-Y., Lopes, M., & Baranes, A. (2013). Information-seeking, curiosity, and attention: computational and neural mechanisms. Trends in Cognitive Science, 17, 585-593. doi:10.1016/j.tics.2013.09.001 [<a href="https://www.sciencedirect.com/science/article/pii/S1364661313002052" target="_blank">ScienceDirect</a>]</p>
                    <p>Gottlieb, J., & Oudeyer, P. (2018). Towards a neuroscience of active sampling and curiosity. Nature Reviews Neuroscience, 19, 758-770. doi:10.1038/s41583-018-0078-0 [<a href="https://www.nature.com/articles/s41583-018-0078-0 " target="_blank">Nature</a>]</p>
                    <p>Kidd, C., & Hayden, B. Y. (2015). The Psychology and Neuroscience of Curiosity. Neuron, 88, 449-460. doi:10.1016/j.neuron.2015.09.010.[<a href="https://www.cell.com/neuron/fulltext/S0896-6273(15)00767-9" target="_blank">Neuron</a>]</p>
                    <p>Loewenstein, G. (1994). The Psychology of Curiosity: A Review and Reinterpretation. Psychological Bulletin, 116. 75-98. doi:10.1037/0033-2909.116.1.75. [<a href="https://www.cmu.edu/dietrich/sds/docs/loewenstein/PsychofCuriosity.pdf" target="_blank">pdf</a>]</p>
                    <p>Malone, T. W. (1981), Toward a Theory of Intrinsically Motivating Instruction. Cognitive Science, 5: 333-369. doi:10.1207/s15516709cog0504_2 [<a href="https://onlinelibrary.wiley.com/doi/epdf/10.1207/s15516709cog0504_2" target="_blank">pdf</a>]</p>
                    <p>Mcgillivray, S., Murayama, K., & Castel, A. D. (2015). Thirst for knowledge: The effects of curiosity and interest on memory in younger and older adults. Psychology and Aging, 30(4), 835-841. doi: 10.1037/a0039801 [<a href="https://www.ncbi.nlm.nih.gov/pubmed/26479013" target="_blank">PubMed</a>]</p>
                    <p>Sakaki, M., Yagi, A., & Murayama, K. (2018). Curiosity in old age: A possible key to achieving adaptive aging. Neuroscience & Biobehavioral Reviews, 88, 106-116. doi: 10.1016/j.neubiorev.2018.03.007 [<a href="https://www.sciencedirect.com/science/article/pii/S014976341730653X" target="_blank">ScienceDirect</a>]</p>
                    <p>Sun, F. W., Stepanovic, M. R., Andreano, J., Barrett, L. F., Touroutoglou, A., & Dickerson, B. C. (2016). Youthful brains in older adults: Preserved neuroanatomy in the default mode and salience networks contributes to youthful memory in superaging. Journal of Neuroscience, 36(37), 9659-9668. doi: 10.1523/jneurosci.1492-16.2016 [<a href="https://www.jneurosci.org/content/36/37/9659" target="_blank">jneurosci</a>]</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="bibliographyListHeadingThree" data-toggle="collapse" data-target="#bibliographyListThree" aria-expanded="true" aria-controls="bibliographyListThree">
                <h3>
                Inquiry-based teaching and learning
                </h3>
                <i class="fas fa-plus"></i>
            </div>
            <div id="bibliographyListThree" class="collapse" aria-labelledby="bibliographyListHeadingThree" data-parent="#bibliographyList">
                <div class="card-body">
                    <p>Baumfield, V., & Mroz, M. (2002). Investigating pupil’s questions in the primary classroom. Educational Research, 44(2), 129-140. [<a href="https://www.tandfonline.com/doi/abs/10.1080/00131880110107388" target="_blank">tandfonline</a>]</p>
                    <p>Brill, G., & Yarden, A. (2003). Learning biology through research papers: A stimulus for question-asking by high-school students. Cell Biology Education, 2, 266-274. [<a href="https://www.ncbi.nlm.nih.gov/pubmed/14673492" target="_blank">PubMed</a>]</p>
                    <p>Chin, C. (2002). Student-generated questions: Encouraging inquisitive minds in learning science. Teaching and Learning (Institute of Education, Singapore), 23(1), 59-67. [<a href="https://repository.nie.edu.sg//handle/10497/292" target="_blank">NIE</a>]</p>
                    <p>Chin, C., Brown, D. E., & Bruce, B. C. (2002). Student-generated questions: A meaningful aspect of learning in science. International Journal of Science Education, 24(5), 521-549. [<a href="https://www.tandfonline.com/doi/abs/10.1080/09500690110095249" target="_blank">tandfonline</a>]</p>
                    <p>Chin, C., & Kayalvizhi, G. (2002). Posing problems for open investigations: What questions do pupils ask? Research in Science & Technological Education, 20(2): 269-287. [<a href="https://www.tandfonline.com/doi/abs/10.1080/0263514022000030499" target="_blank">tandfonline</a>]</p>
                    <p>Chin, C., & Osborne, J. (2008). Students’ questions: a potential resource for teaching and learning of science. Studies in Science Education, 44, 1-39. doi: 10.1080/03057260701828101 [<a href="https://www.tandfonline.com/doi/abs/10.1080/03057260701828101" target="_blank">tandfonline</a>]</p>
                    <p>Coutinho, M. J., & Almeida, P. A. (2014). Promoting student questioning in the learning of Natural Sciences. Procedia - Social and Behavioural Sciences, 116: 3781-3785. [<a href="https://core.ac.uk/download/pdf/82444652.pdf" target="_blank">ScienceDirect</a>]</p>
                    <p>Dillon, J. T. (1988). The remedial status of student questioning. Journal of Curriculum Studies, 20(3): 197-210. doi:10.1080/0022027880200301 [<a href="https://www.tandfonline.com/doi/abs/10.1080/0022027880200301?journalCode=tcus20" target="_blank">tandfonline</a>]</p>
                    <p>Engel, S. (2011). Children's need to know: Curiosity in schools. Harvard Educational Review, 81(4), 625-645. doi: 10.17763/haer.81.4.h054131316473115 [<a href="http://www.hepgjournals.org/doi/abs/10.17763/haer.81.4.h054131316473115?journalCode=haer" target="_blank">HEPG</a>]</p>
                    <p>Friesen, S., & Scott, D. (2013) Inquiry-based learning: A review of the research literature. Paper prepared for the Alberta Ministry of Education, University of Calgary, Alberta. [<a href="https://galileo.org/focus-on-inquiry-lit-review.pdf" target="_blank">pdf</a>]</p>
                    <p>Gallas, K. (1995). Talking their way into science: Hearing children’s questions and theories, responding with curricula. New York: Teachers College Press. [<a href="https://www.tcpress.com/talking-their-way-into-science-9780807770115" target="_blank">tcpress</a>]</p>
                    <p>Hofstein, A., Shore, R., & Kipnis, M (2004). Providing high school chemistry students with opportunities to develop learning skills in an inquiry-type laboratory: A case study. Journal of Science Education, 26(1), 47-62. doi: 10.1080/0950069032000070342 [<a href="https://www.tandfonline.com/doi/abs/10.1080/0950069032000070342" target="_blank">tandfonline</a>]</p>
                    <p>Pedrosa de Jesus, H., Teixeira-Dias, J. J. C., & Watts, M. (2003). Questions of chemistry. International Journal of Science Education, 25(8), 1015–1034. doi:  10.1080/09500690305022 [<a href="https://www.tandfonline.com/doi/abs/10.1080/09500690305022" target="_blank">tandfonline</a>]</p>
                    <p>Scardamalia, M., & Bereiter, C. (1992). Text-based and knowledge-based questioning by children. Cognition and Instruction, 9(3), 177-199. [<a href="https://psycnet.apa.org/record/1993-19573-001" target="_blank">PsycNET</a>]</p>
                    <p>Sezen-Barrie, A., Miller-Rushing, A., & Hufnagel, E. (2019). ‘It’s a gassy world’: starting with students’ wondering questions to inform climate change education, Environmental Education Research, doi: 10.1080/13504622.2019.1610158 [<a href="https://www.tandfonline.com/doi/abs/10.1080/13504622.2019.1610158?journalCode=ceer20" target="_blank">tandfonline</a>]</p>
                    <p>Wu, P.-H., Kuo, C.-Y., Wu, H.-K., Jen, T.-H., Hsu, Y.-S. (2018). Learning benefits of secondary school students' inquiry-related curiosity: A cross-grade comparison of the relationships among learning experiences, curiosity, engagement, and inquiry abilities. Science Education, 102: 917-950. [<a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/sce.21456" target="_blank">Wiley</a>]</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="bibliographyListHeadingFour" data-toggle="collapse" data-target="#bibliographyListFour" aria-expanded="true" aria-controls="bibliographyListFour">
                <h3>
                Analysis of questions
                </h3>
                <i class="fas fa-plus"></i>
            </div>
            <div id="bibliographyListFour" class="collapse" aria-labelledby="bibliographyListHeadingFour" data-parent="#bibliographyList">
                <div class="card-body">
                    <p>Baram-Tsabari, A., & Yarden, A. (2005). Characterizing children’s spontaneous interests in science and technology. International Journal of Science Education, 27(7), 803-826. doi:10.1080/09500690500038389 [<a href="https://www.tandfonline.com/doi/abs/10.1080/09500690500038389" target="_blank">tandfonline</a>]</p>
                    <p>Baram-Tsabari, A., Sethi, R. J., Bry, L., & Yarden, A. (2006). Using questions sent to an ask-a-scientist site to identify children’s interests in science. Science Education, 90, 1050-1072. [<a href="https://www.researchgate.net/publication/227653338_Using_questions_sent_to_an_Ask-A-Scientist_site_to_identify_children%27s_interests_in_science" target="_blank">ResearchGate</a>]</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="bibliographyListHeadingFive" data-toggle="collapse" data-target="#bibliographyListFive" aria-expanded="true" aria-controls="bibliographyListFive">
                <h3>
                Sociocultural factors in curiosity
                </h3>
                <i class="fas fa-plus"></i>
            </div>
            <div id="bibliographyListFive" class="collapse" aria-labelledby="bibliographyListHeadingFive" data-parent="#bibliographyList">
                <div class="card-body">
                    <p>Clarke, P. (2001). Teaching and learning: The culture of pedagogy. New Delhi, India: Sage Publications. [<a href="https://www.abebooks.com/servlet/BookDetailsPL?bi=16785662112&searchurl=an%3DCLARKE%252C%2BPREMA%26sortby%3D17&cm_sp=snippet-_-srp1-_-title1" target="_blank">link</a>]</p>
                    <p>Kumar, K. (1989). Social character of learning. New Delhi, India: Sage Publications. [<a href="http://www.arvindguptatoys.com/arvindgupta/socialcharacter.pdf" target="_blank">pdf</a>]</p>
                    <p>Narain, D. (1964). Growing up in India. Family Process Journal, 3, 127-154. doi:10.1111/j.1545-5300.1964.00127.x [<a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/j.1545-5300.1964.00127.x" target="_blank">Wiley</a>]</p>
                    <p>Sarangapani, P. (2003). Constructing School Knowledge: An Ethnography of Learning in an Indian Village. New Delhi, India: Sage Publications. [<a href="https://us.sagepub.com/en-us/nam/constructing-school-knowledge/book225744" target="_blank">Sage</a>]</p>
                    <p>Singh, G., Shaikh, R., & Haydock, K. (2019). Understanding student questioning. Cultural Studies of Science Education,14(3), 643-697. doi: 10.1007/s11422-018-9866-0 [<a href="https://rd.springer.com/article/10.1007/s11422-018-9866-0" target="_blank">Springer</a>]</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="bibliographyListHeadingSix" data-toggle="collapse" data-target="#bibliographyListSix" aria-expanded="true" aria-controls="bibliographyListSix">
                <h3>
                Gender and curiosity
                </h3>
                <i class="fas fa-plus"></i>
            </div>
            <div id="bibliographyListSix" class="collapse" aria-labelledby="bibliographyListHeadingSix" data-parent="#bibliographyList">
                <div class="card-body">
                    <p>Baram-Tsabari, A., & Yarden, A. (2011). Quantifying the gender gap in science interests. International Journal of Science and Mathematics Education, 9(3), 523-550. doi: 10.1007/s10763-010-9194-7 [<a href="https://rd.springer.com/article/10.1007/s10763-010-9194-7" target="_blank">Springer</a>]</p>
                    <p>Engelhard, G., & Monsaas, J. A. (1988). Grade level, gender, and school-related curiosity in urban elementary schools. The Journal of Educational Research, 82(1), 22-26. doi: 10.1080/00220671.1988.10885860 [<a href="https://www.tandfonline.com/doi/abs/10.1080/00220671.1988.10885860" target="_blank">tandfonline</a>]</p>
                    <p>Jones, M. G., Howe, A., & Rua, M. J. (2000). Gender differences in students' experiences, interests, and attitudes toward science and scientists. Science Education, 84(2), 180-192. doi: 10.1002/(SICI)1098-237X(200003)84:2<180::AID-SCE3>3.0.CO;2-X [<a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/%28SICI%291098-237X%28200003%2984%3A2%3C180%3A%3AAID-SCE3%3E3.0.CO%3B2-X" target="_blank">Wiley</a>]</p>
                    <p>Stark, R., & Gray, D. (1999). Gender preferences in learning science. International Journal of Science Education, 21(6), 633-643, doi: 10.1080/095006999290480 [<a href="https://www.tandfonline.com/doi/abs/10.1080/095006999290480" target="_blank">tandfonline</a>]</p>
                    <p>Taber, K. S. (1991). Gender differences in science preferences on starting secondary school. Research in Science & Technological Education, 9(2), 245-251. doi: 10.1080/0263514910090210 [<a href="https://www.tandfonline.com/doi/abs/10.1080/0263514910090210" target="_blank">tandfonline</a>]</p>
                    <p>Weinburgh, M. (1995). Gender differences in student attitudes toward science: a meta-analysis of the literature from 1970 to 1991. Journal of Research in Science Teaching, 32(4), 387-398. doi: 10.1002/tea.3660320407 [<a href="https://psycnet.apa.org/record/1995-42066-001" target="_blank">APA</a>]</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="bibliographyListHeadingSeven" data-toggle="collapse" data-target="#bibliographyListSeven" aria-expanded="true" aria-controls="bibliographyListSeven">
                <h3>
                History, philosophy and ethics of curiosity
                </h3>
                <i class="fas fa-plus"></i>
            </div>
            <div id="bibliographyListSeven" class="collapse" aria-labelledby="bibliographyListHeadingSeven" data-parent="#bibliographyList">
                <div class="card-body">
                    <p>Bunk, S. (2000). Curiosity and the scientific method. The Scientist. [<a href="https://www.the-scientist.com/perspective/curiosity-and-the-scientific-method-56061" target="_blank">link</a>]</p>
                    <p>Sarukkai, S. (2009). Science and the ethics of curiosity. Current Science, 97(6), 756-767. [<a href="http://www.jstor.org/stable/24112112" target="_blank"py>JSTOR</a>]</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
