{% extends "public_website/base.html" %}

{% block title %} Research | Sawaliram {% endblock %}

{% load static %}

{% block content %}
<div class="research-intro-section">
    <h1>Why research?</h1>
    <h2>Research reveals a striking gap between curiosity and questioning.</h2>
    <div class="research-intro-p-wrapper">
        <p>In everyday situations it is natural for us to talk about ‘curiosity’ and ‘questioning’ interchangeably: when we are curious, we ask questions, and a questioning child demonstrates curiosity. Yet, research shows up a striking gap between curiosity and questioning.</p>
        <p>‘Curiosity’ is a basic drive that goes way back in our evolutionary history, to perhaps hundreds of millions of years ago. Human babies from two months of age show curiosity while they perceive and explore their environment. As they learn to talk, the pre-schoolers' curiosity bursts forth into tens of thousands of questions they ask, every year.</p>
        <p>As children grow up and go to school, the picture changes dramatically. Researchers search in vain for questions asked by students in classrooms. At the same time psychologists and neuroscientists are convinced that, despite appearances, curiosity persists through adolescence, adulthood and even old age, though perhaps taking on newer forms. Such disconnects between curiosity and questioning, placed together with Sawaliram's rich repositories of children's questions, give reasons for us to raise our own questions, and provide the motivation that drives our group’s research.</p>
    </div>
</div>
<div class="research-second-section">
    <div class="content-wrapper">
        <div>
            <h2>Our focus is on understanding the nature of children’s questions.</h2>
            <p>Children’s questions are a resource for teachers and researchers to learn about their motives and interests, their doubts and misunderstandings. Our focus is on understanding the nature of children’s questions when they are provided facilitative conditions and contexts that encourage questioning. We support participating teachers to create such conditions in their own classrooms. The open access database of Sawaliram may be queried online or made available to researchers for specific projects. Our larger goal is to find ways to encourage curiosity and questioning in children, and to translate our findings into an effective curricular and pedagogic program for the Indian school system.</p>
        </div>
        <img src="{% static 'illustrations/home_research.png' %}">
    </div>
</div>
<div class="research-links-section">
    <div class="research-link-row">
        <a href="javascript:void(0)"><span>Global studies on curiosity and questioning</span><i class="fas fa-chevron-right"></i></a>
        <a href="javascript:void(0)"><span>Curiosity and questioning - an Indian view</span><i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="research-link-row">
        <a href="javascript:void(0)"><span>Research methods and working with data</span><i class="fas fa-chevron-right"></i></a>
        <a href="javascript:void(0)"><span>Schools and organisations participating</span><i class="fas fa-chevron-right"></i></a>
    </div>
</div>
<div class="bibliography-section">
    <h2>Bibliography</h2>
    <div id="bibliographyList" class="sawaliram-accordion">
        <div class="card">
            <div class="card-header" id="bibliographyListHeadingOne" data-toggle="collapse" data-target="#bibliographyListOne" aria-expanded="true" aria-controls="bibliographyListOne">
                <h3>
                Development of curiosity
                </h3>
                <i class="fas fa-plus"></i>
            </div>
            <div id="bibliographyListOne" class="collapse" aria-labelledby="bibliographyListHeadingOne" data-parent="#bibliographyList">
                <div class="card-body">
                    <p>Chouinard, M., Harris, P., & Maratsos, M. (2007). Children's Questions: A Mechanism for Cognitive Development. Monographs of the Society for Research in Child Development, 72(1), I-129. <a href="http://www.jstor.org/stable/30163594">http://www.jstor.org/stable/30163594</a></p>
                    <p>Engel, S. (2015). The Hungry Mind: The Origins of Curiosity in Childhood. Cambridge, MA: Harvard University Press. <a href="https://www.hup.harvard.edu/catalog.php?isbn=9780674736757">https://www.hup.harvard.edu/catalog.php?isbn=9780674736757</a></p>
                    <p>Harris, P. L. (2015). Trusting What You’re Told: How Children Learn from Others. Cambridge, MA: Belknap Press. <a href="https://www.hup.harvard.edu/catalog.php?isbn=9780674503830">https://www.hup.harvard.edu/catalog.php?isbn=9780674503830</a></p>
                    <p>Jirout, J. & Klahr, D. (2012). Children’s scientific curiosity: In search of an operational definition of an elusive concept. Developmental Review, 32, 125–160. doi: 10.1016/j.dr.2012.04.002 <a href="https://www.sciencedirect.com/science/article/pii/S0273229712000123">https://www.sciencedirect.com/science/article/pii/S0273229712000123</a></p>
                    <p>Tizard, B. & Hughes, M. (2002). Young Children Learning (2nd Edition) Blackwell Publishing. <a href="https://onlinelibrary.wiley.com/doi/book/10.1002/9780470774328">https://onlinelibrary.wiley.com/doi/book/10.1002/9780470774328</a></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="bibliographyListHeadingTwo" data-toggle="collapse" data-target="#bibliographyListTwo" aria-expanded="true" aria-controls="bibliographyListTwo">
                <h3>
                Psychology and neuroscience of curiosity
                </h3>
                <i class="fas fa-plus"></i>
            </div>
            <div id="bibliographyListTwo" class="collapse" aria-labelledby="bibliographyListHeadingTwo" data-parent="#bibliographyList">
                <div class="card-body">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="bibliographyListHeadingThree" data-toggle="collapse" data-target="#bibliographyListThree" aria-expanded="true" aria-controls="bibliographyListThree">
                <h3>
                Curiosity in the classroom
                </h3>
                <i class="fas fa-plus"></i>
            </div>
            <div id="bibliographyListThree" class="collapse" aria-labelledby="bibliographyListHeadingThree" data-parent="#bibliographyList">
                <div class="card-body">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="bibliographyListHeadingFour" data-toggle="collapse" data-target="#bibliographyListFour" aria-expanded="true" aria-controls="bibliographyListFour">
                <h3>
                Gender and curiosity
                </h3>
                <i class="fas fa-plus"></i>
            </div>
            <div id="bibliographyListFour" class="collapse" aria-labelledby="bibliographyListHeadingFour" data-parent="#bibliographyList">
                <div class="card-body">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="bibliographyListHeadingFive" data-toggle="collapse" data-target="#bibliographyListFive" aria-expanded="true" aria-controls="bibliographyListFive">
                <h3>
                History and philosophy of curiosity
                </h3>
                <i class="fas fa-plus"></i>
            </div>
            <div id="getInvolvedListFive" class="collapse" aria-labelledby="getInvolvedListHeadingFive" data-parent="#getInvolvedList">
                <div class="card-body">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}