
{% extends "public_website/base.html" %}

{% load i18n %}
{% load to_language_name %}

{% block title %}{{ page_title }} | {% trans 'Sawaliram' %}{% endblock %}

{% block content %}
<div class="search-container">
    <div class="mobile-filter-controls">
        <button class="filter-button">{% trans 'Filters' %}</button>
        <button class="sort-by-button">{% trans 'Sort By' %}</button>
    </div>
    <div class="mobile-sort-by-popup text-right m-3">
        <b class="text-muted"><small>Sorted by: </small></b>
        {% if page_title == _('Review Answers') %}
            <span class="sort-by-option{% if sort_by == 'comments' %} font-weight-bold text-secondary{% endif %}" data-sort="comments">{% trans 'Comments' %}</span>
            <span class="sort-by-option{% if sort_by == 'date' %} font-weight-bold text-secondary{% endif %}" data-sort="date">{% trans 'Date' %}</span>
        {% else %} 
            <span class="sort-by-option{% if sort_by == 'newest' %} font-weight-bold text-secondary{% endif %}" data-sort="newest">{% trans 'Newest' %}</span>
            <span class="sort-by-option{% if sort_by == 'oldest' %} font-weight-bold text-secondary{% endif %}" data-sort="oldest">{% trans 'Oldest' %}</span>
        {% endif %}
    </div>
    <div class="filter-sidebar">
        <div class="filter-head">
            <span><b>{% trans 'Filters' %}</b></span>
            <button class="btn clear-all">{% trans 'Clear All' %}</button>
        </div>
        <div class="filter-list">
            {% if page_title == _('Search') or page_title == _('Translate Content') %}
            <div class="filter-category">
                <button class="btn open-filter" data-target="#filterCategories" aria-expanded="true" aria-controls="filter-categories">Category</button>
                <div class="category-options-list" id="filterCategories">
                    <button class="btn category-option {% if 'questions' in active_categories %}active{% endif %} no-fun" data-param="category" data-value="questions">{% trans 'Questions' %}</button>
                    <button class="btn category-option{% if 'articles' in active_categories %} active{% endif %}" data-param="category" data-value="articles">{% trans 'Articles' %}</button>
                    <button class="btn category-option" data-param="category" data-value="research" disabled>{% trans 'Research' %}</button>
                    <button class="btn category-option" data-param="category" data-value="resources" disabled>{% trans 'Resources' %}</button>
                </div>
            </div>
            {% endif %}
            {% if page_title == 'Search' or page_title == 'View Questions' or page_title == 'Answer Questions' %}
            <div class="filter-category">
                <button class="btn open-filter" data-target="#filterCategories" aria-expanded="true" aria-controls="filter-categories">{% trans 'Questions' %}</button>
                <div class="category-options-list" id="filterCategories">
                    <button class="btn category-option {% if 'answered' in question_categories %}active{% endif %}" data-param="questions" data-value="answered" {% if 'questions' not in active_categories %}disabled{% endif %}>{% trans 'Answered' %}</button>
                    <button class="btn category-option {% if 'unanswered' in question_categories %}active{% endif %}" data-param="questions" data-value="unanswered" {% if 'questions' not in active_categories %}disabled{% endif %}>{% trans 'Unanswered' %}</button>
                </div>
            </div>
            {% endif %}
            <div class="filter-category">
                <button class="btn open-filter" data-target="#filterSubjects" aria-expanded="true" aria-controls="filter-subjects">{% trans 'Subjects' %}</button>
                <div class="category-options-list" id="filterSubjects">
                    {% for subject in subjects %}
                    <button class="btn category-option {% if subject in subjects_to_filter_by %}active{% endif %} {% if subject|length > 11 %}long-title{% endif %}" data-param="subject" data-value="{{ subject|urlencode }}" {% if 'questions' not in active_categories or subject not in available_subjects %}disabled{% endif %}>{% trans subject %}</button>{# Disabling subject buttons if question field is not selected or no results present under that subject category#}
                    {% endfor %}
                </div>
            </div>
            <div class="filter-category">
                <button class="btn open-filter" data-target="#filterStates" aria-expanded="true" aria-controls="filter-states">{% trans 'States' %}</button>
                <div class="category-options-list" id="filterStates">
                    {% for state in states %}
                    <button class="btn category-option {% if state.state in states_to_filter_by %}active{% endif %}" data-param="state" data-value="{{ state.state|urlencode }}" {% if 'questions' not in active_categories %}disabled{% endif %}>{{ state.state }}</button>
                    {% endfor %}
                </div>
            </div>
            <div class="filter-category">
                <button class="btn open-filter" data-target="#filterLanguages" aria-expanded="true" aria-controls="filter-languages">{% trans 'Languages' %}</button>
                <div class="category-options-list" id="filterLanguages">
                    {% for language in languages %}
                    <button class="btn category-option {% if language.language in languages_to_filter_by %}active{% endif %}" data-param="language" data-value="{{ language.language|urlencode }}">{{ language.language|language_name_translated }}</button>
                    {% endfor %}
                </div>
            </div>
            <div class="filter-category">
                <button class="btn open-filter" data-target="#filterCurriculum" aria-expanded="true" aria-controls="filter-curriculum">{% trans 'Curriculum Followed' %}</button>
                <div class="category-options-list" id="filterCurriculum">
                    {% for curriculum in curriculums %}
                    <button class="btn category-option {% if curriculum.curriculum_followed in curriculums_to_filter_by %}active{% endif %}" data-param="curriculum" data-value="{{ curriculum.curriculum_followed|urlencode }}" {% if 'questions' not in active_categories %}disabled{% endif %}>{{ curriculum.curriculum_followed|capfirst }}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="search-results">
        {% include 'snippets/messages.html' %}
        <form action="" class="search" method="GET">
            <input class="search-field" type="text" name="q" placeholder="{% trans 'Search these results' %}" {% if search_query %} value="{{ search_query }}" {% endif %}>
            <button class="search-field-submit" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
        {% if questions or articles %}
        <div class="head-area">
            <span class="results-count">
                Showing {% if result_size == 1 %}1{% else %}{{ start_index}} - {{ end_index }} {% endif %} of {{ result_size }} result{{ result_size|pluralize }}
            </span>
            <div class="dropdown">
                <button class="btn sort-by-selector" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="sortOptionSelector">
                    sorted by <span class="sort-by-text">{{ sort_by|capfirst }}</span>
                    <i class="fas fa-chevron-down"></i>
                </button>
                {% if page_title == _('Review Answers') %}
                    <div class="dropdown-menu" aria-labelledby="sortOptionSelector">
                        <span class="dropdown-item sort-by-option" data-sort="comments">{% trans 'Comments' %}</span>
                        <span class="dropdown-item sort-by-option" data-sort="date">{% trans 'Date' %}</span>
                    </div>
                {% else %}
                    <div class="dropdown-menu" aria-labelledby="sortOptionSelector">
                        <span class="dropdown-item sort-by-option" data-sort="newest">{% trans 'Newest' %}</span>
                        <span class="dropdown-item sort-by-option" data-sort="oldest">{% trans 'Oldest' %}</span>
                    </div>
                {% endif %}
            </div>
        </div>
        <ul class="search-results-list">
            {% for article in articles %}
            <li class="search-result-item">
                <div class="search-result-item-header">
                    <p class="item-number">#{{ article.id }} | {% trans 'Article' %}</p>
                </div>
                <h3 class="item-title">
                    {{ article.title }}
                </h3>
                <div class="search-result-item-content">
                    {{ article.body|striptags|truncatechars:140 }}
                    <div class="item-context-controls">
						{% if page_title == _('Translate Content') %}
		                <a href="{% url 'dashboard:translate-article' source=article.id %}" class="btn btn-small btn-primary">{% trans 'Translate' %}</a>
		                {% else %}
		                <a href="{{ article.get_absolute_url }}" class="btn btn-small btn-primary">View Article</a>
		                {% endif %}
					</div>
                </div>
            </li>
            {% endfor %}
            {% for question in questions %}
            <li class="search-result-item">
                <div class="search-result-item-header">
                    <p class="item-number">#{{ question.id }} | {% trans 'Question' %}</p>
                    <button class="btn bookmark-button {% if question.id in bookmarks %}bookmarked{% endif %}" data-content="question" data-id="{{ question.id }}">{% if question.id in bookmarks %}<i class="fas fa-bookmark"></i> {% trans 'Bookmarked' %}{% else %}<i class="far fa-bookmark"></i> {% comment %}Translators: this is a verb ("Bookmark this item"){% endcomment %}{% trans 'Bookmark' %}{% endif %}</button>
                </div>
                <h3 class="item-title">
                    {{ question.question_text }}
                </h3>
                {% if question.language.lower != 'english' and question.question_text_english %}
                <h4 class="item-sub-title">
                    {{ question.question_text_english }}
                </h4>
                {% endif %}
                <div class="search-result-item-content">
                    {% if question.school or question.state or question.area or question.question_asked_on or question.published_source %}
                    <div class="item-meta">
                        {% if question.published == True and question.published_source %}
                        <span class="highlighted-meta">
                            <i class="fas fa-book"></i>
                            <span class="meta-value">
                                {{ question.published_source }}
                            </span>
                        </span>
                        {% endif %}
                        {% if question.school %}
                        <span class="highlighted-meta">
                            <i class="fas fa-university"></i>
                            <span class="meta-value">
                                {{ question.school }}
                                {% if question.curriculum_followed %}
                                    ({{ question.curriculum_followed }})
                                {% endif %}
                            </span>
                        </span>
                        {% endif %}

                        {% if question.area or question.state %}
                        <span class="highlighted-meta">
                            <i class="fas fa-map-marker-alt"></i>
                            <span class="meta-value">
                                {% if question.area %}
                                    {{ question.area.rstrip }} {% if question.state %}, {{ question.state }} {% endif %}
                                {% elif question.state %}
                                    {{ question.state }}
                                {% endif %}
                            </span>
                        </span>
                        {% endif %}

                        {% if question.student_class %}
                        <span class="highlighted-meta">
                            <i class="fas fa-user-graduate"></i>
                            <span class="meta-value">
                                Class {{ question.student_class|floatformat}}
                            </span>
                        </span>
                        {% endif %}

                        {% if question.question_asked_on %}
                        <span class="highlighted-meta">
                            <i class="far fa-calendar-alt"></i>
                            <span class="meta-value">
                                {{ question.question_asked_on|date:"j F, Y" }}
                            </span>
                        </span>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if page_title == _('Answer Questions') %}
                        <div class="item-context-controls">
                            {% if page_title == _('Answer Questions') %}
                            <a href="{% url 'dashboard:submit-answer' question_id=question.id %}" class="btn btn-small btn-primary">Answer</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                {% if page_title != _('Translate Content') %}
                    {% for answer in question.answers.all %}
                        {% if page_title == _('Review Answers') %}
                            {% if answer.status != 'published'%}
                                <div class="answer-preview">
                                    <p>{{ answer.answer_text|striptags|truncatechars:200 }}</p>
                                    {% for credit in answer.credits.all %}
                                        <h4>
                                            {% trans credit.credit_title %}: {{ credit.credit_user_name }}
                                        </h4>
                                    {% endfor %}
                                    <div class="preview-answer-controls dual-item-controls-section">
                                        <span class="answer-review-count"><i class="far fa-comment-alt"></i> {{ answer.comments.all|length }} Comment{{ answer.comments.all|length|pluralize }}</span>
                                        <a href="{% url 'dashboard:review-answer' question_id=question.id answer_id=answer.id %}" class="btn btn-small btn-primary">{% trans 'Review' %}</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if page_title == _('View Questions') or page_title == _('Search') or page_title == _('Answer Questions') %}
                            {% if answer.status == 'published' %}
                            <div class="answer-preview">
                                <p>{{ answer.answer_text|striptags|truncatechars:200 }}</p>
                                {% for credit in answer.credits.all %}
                                    <h4>
                                        {% trans credit.credit_title|title %}: {{ credit.credit_user_name }}
                                    </h4>
                                {% endfor %}
                                <div class="preview-answer-controls">
                                    <a href="{% url 'public_website:view-answer' question_id=question.id answer_id=answer.id %}" class="btn btn-small {% if page_title == _('Answer Questions') %} btn-primary-hollow{% else %}btn-primary{% endif %}">View Answer</a>
                                </div>
                            </div>
                            {% endif%}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if page_title == _('Translate Content') %}
                    {% for answer in question.answers.all %}
                    {% if answer.status == answer.STATUS_PUBLISHED %}{# We don't want unpublished answers! #}
                    <div class="answer-preview">
                        <h4>Answered by <b>{{ answer.submitted_by.get_full_name }}</b></h4>
                        <p>{{ answer.answer_text|striptags|truncatechars:200 }}</p>
                        <div class="review-answer-controls">
                            <a href="{% url 'dashboard:translate-answer' source=question.id answer=answer.id %}" class="btn btn-small btn-primary">{% trans 'Translate' %}</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        <div class="search-pagination">
            {% if questions.has_previous %}
            <span class="page-number end-page-number page-button" data-page="1"> << </span>
            <span class="page-number page-button" data-page="{{ questions.previous_page_number }}"> {{ questions.previous_page_number }} </span>
            {% endif %}
            <span class="page-number current-page">{{ questions.number }}</span>
            {% if questions.has_next %}
            <span class="page-number page-button" data-page="{{ questions.next_page_number }}"> {{ questions.next_page_number }} </span>
            <span class="page-number end-page-number page-button" data-page="{{ questions.paginator.num_pages }}"> >> </a>
            {% endif %}
        </div>
        {% else %}
        <div class="no-search-questions-container">
            <i class="far fa-frown"></i>
            <p>{% trans 'No results found. Try changing the filters or search for something else' %}</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
