{% extends "public_website/base.html" %}

{% block title %} {{ request.user.first_name }}'s Profile | Sawaliram {% endblock %}

{% load static %}

{% block content %}

<div class="wide-container">
    <div class="profile-header">
        <img src="{% static 'user/default.png' %}" alt="Profile Picture">
        <h1 class="user-name">{{ selected_user.user_id.get_full_name }}</h1>
        {% if selected_user.user_id.organisation %}
            <p class="organisation">{% if selected_user.organisation_role %}{{ selected_user.organisation_role }} at {% endif %}{{ user.organisation }}</p>
        {% endif %}
    </div>
    
    <nav>
        <div class="nav nav-pills user-profile-nav" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#settings-tab" role="tab" aria-controls="settings-tab" aria-selected="true">
                <img class="slow-transition" src="{% static 'icons/menu_settings.png' %}" alt="User Settings">
                Settings
            </a>
            <a class="nav-item nav-link" data-toggle="tab" href="#drafts-tab" role="tab" aria-controls="drafts-tab" aria-selected="true">
                <img class="slow-transition" src="{% static 'icons/menu_drafts.png' %}" alt="User Drafts">
                Drafts
            </a>
            <a class="nav-item nav-link" data-toggle="tab" href="#notifications-tab" role="tab" aria-controls="notifications-tab" aria-selected="true">
                <img class="slow-transition" src="{% static 'icons/menu_notifications.png' %}" alt="User Notifications">
                Notifications
            </a>
            <a class="nav-item nav-link" data-toggle="tab" href="#submissions-tab" role="tab" aria-controls="submissions-tab" aria-selected="true">
                <img class="slow-transition" src="{% static 'icons/menu_submissions.png' %}" alt="User Submissions">
                Submissions
            </a>
            <a class="nav-item nav-link" data-toggle="tab" href="#bookmarks-tab" role="tab" aria-controls="bookmarks-tab" aria-selected="true">
                <img class="slow-transition" src="{% static 'icons/menu_bookmarks.png' %}" alt="User Bookmarks">
                Bookmarks
            </a>
        </div>
    </nav>
    
    <div class="tab-content user-profile-tab-content">
        <div class="tab-pane fade show active" id="settings-tab" role="tabpanel" aria-labelledby="settings-tab">
            <div class="tab-section">
                <h3 class="tab-subheading">Intro</h3>
                <p class="tab-section-intro">A short intro about yourself for the fellow users</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <textarea name="intro-text" rows="3" maxlength="100"></textarea>
                    <button class="btn btn-secondary">Update intro text</button>
                </form>
            </div>
            <div class="tab-section">
                <h3 class="tab-subheading">Organisation</h3>
                <p class="tab-section-intro">Details of your organisation and your role</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="organisation-name" placeholder="Organisation name">
                    <input type="text" name="organisation-role" placeholder="Your role">
                    <button class="btn btn-secondary">Update organisation info</button>
                </form>
            </div>
            <div class="tab-section">
                <h3 class="tab-subheading">Security</h3>
                <p class="tab-section-intro">Manage your password</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="password" name="current-password" placeholder="Current password">
                    <input type="password" name="new-password" placeholder="New password">
                    <input type="password" name="confirm-new-password" placeholder="Confirm new password">
                    <button class="btn btn-secondary">Update password</button>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="drafts-tab" role="tabpanel" aria-labelledby="drafts-tab">
            {% if answer_drafts %}
            <h3 class="tab-subheading">Answers</h3>
            <ul class="card-list">
                {% for draft in answer_drafts %}
                <li> 
                    <h4>{{ draft.question_id }}</h4>
                    <p class="draft-preview">
                        {{ draft.answer_text }}
                    </p>
                    <button class="btn btn-secondary">Continue writing</button>
                    <button class="btn btn-secondary-hollow"><i class="far fa-trash-alt"></i> Delete</button>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="notifications-tab" role="tabpanel" aria-labelledby="notifications-tab">

        </div>
        <div class="tab-pane fade" id="submissions-tab" role="tabpanel" aria-labelledby="submissions-tab">
            {% if submitted_questions %}
            <h3 class="tab-subheading">Questions</h3>
            <ul class="card-list">
                {% for question in submitted_questions %}
                <li>
                    <h4>{{ question.question_count }} questions</h4>
                    <p>Submitted on {{ question.created_on|date:"jS F, Y" }}</p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if submitted_answers %}
            <h3 class="tab-subheading">Answers</h3>
            <ul class="card-list">
                {% for answer in submitted_answers %}
                <li>
                    <h4>{{ answer.question_id }}</h4>
                    <p class="draft-preview">
                        {{ answer.answer_text }}
                    </p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="bookmarks-tab" role="tabpanel" aria-labelledby="bookmarks-tab">
            <h3 class="tab-subheading">Questions</h3>
        </div>
    </div>
</div>

{% endblock %}