{% extends "public_website/base.html" %}

{% block title %} View Answer | Sawaliram {% endblock %}

{% load static %}
{% load render_linebreaks %}

{% block content %}

<div class="answer-section">
    <div class="question-and-meta">
        <h1>{{ question.question_text }}</h1>
        {% if question.question_language.lower != 'english' and question.question_text_english %}
            <h2>
                {{ question.question_text_english }}
            </h4>
        {% endif %}
        <div class="meta-section">
            {% if question.field_of_interest %}
            <span class="highlighted-meta">
                <i class="fas fa-book"></i>
                <span class="meta-value">
                    {{ question.field_of_interest }}
                </span>
            </span>
            {% endif %}

            {% if question.school %}
            <span class="highlighted-meta">
                <i class="fas fa-university"></i>
                <span class="meta-value">
                    {{ question.school }}
                    {% if question.curriculum_followed %}
                        ({{ question.curriculum_followed }})
                    {% endif %}
                </span>
            </span>
            {% endif %}

            {% if question.area or question.state %}
            <span class="highlighted-meta">
                <i class="fas fa-map-marker-alt"></i>
                <span class="meta-value">
                    {% if question.area %}
                        {{ question.area.rstrip }} {% if question.state %}, {{ question.state }} {% endif %}
                    {% elif question.state %}
                        {{ question.state }}
                    {% endif %}
                </span>    
            </span>
            {% endif %}

            {% if question.student_class %}
            <span class="highlighted-meta">
                <i class="fas fa-user-graduate"></i>
                <span class="meta-value">
                    Class {{ question.student_class }}
                </span>
            </span>
            {% endif %}

            {% if question.question_asked_on %}
            <span class="highlighted-meta">
                <i class="far fa-calendar-alt"></i>
                <span class="meta-value">
                    {{ question.question_asked_on|date:"j F, Y" }}
                </span>
            </span>
            {% endif %}
        </div>
    </div>
    <div class="answer-text-wrapper">
        <div class="answer-text">
            {{ answer.answer_text|safe }}
        </div>
    </div>
</div>

<div class="answer-comment-related-section">
    <div class="comments">
        <h2>Comments</h2>
        <form action="{% url 'public_website:submit-user-comment-answer' question.id answer.id %}" method="POST">
            {% csrf_token %}
            <textarea name="comment-text" rows="4" placeholder="Join the conversation"></textarea>
            <button type="submit" class="btn btn-secondary">Add Comment</button>
        </form>
        {% if comments %}
            <ul class="comment-list">
                {% for comment in comments %}
                <li class="comment-box">
                    <div class="comment-header">
                        <h3>{{ comment.author.get_full_name }}</h3>
                        {% if comment.author == request.user %}
                        <div class="delete-comment-wrapper">
                            <button type="submit" class="btn delete-comment slow-transition">Delete <i class="far fa-trash-alt"></i></button>
                            <form action="{% url 'public_website:delete-user-comment-answer' question.id answer.id comment.id %}" class="delete-comment-form slow-transition" method="POST">
                                {% csrf_token %}
                                <span>Are you sure?</span>
                                <button class="btn confirm-delete delete-yes">Yes</button> /
                                <button class="btn confirm-delete delete-no">No</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <p class="commane-date">{{ comment.created_on|date:"j F, Y" }}</p>
                    <p class="comment-text">
                        {{ comment.text|escape|render_linebreaks|safe }}
                    </p>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="related-questions">

    </div>
</div>

{% endblock %}