{% extends "public_website/base.html" %}

{% load i18n %}
{% load static %}
{% load has_group %}
{% load render_linebreaks %}
{% load to_language_name %}

{% block title %} {% trans 'View Answer' %} | {% trans 'Sawaliram' %}{% endblock %}

{% block content %}

<div class="answer-section">
    <div class="question-and-meta">
        <h1>{{ question.question_text }}</h1>
        {% if question.language.lower != 'english' and question.question_text_english %}
            <h2>
                {{ question.question_text_english }}
            </h2>
        {% endif %}
        {% if question.tr_question_text != question.question_text %}
            <h2>{{ question.tr_question_text }}</h2>
        {% endif %}
        <div class="meta-section">
            {% if question.field_of_interest %}
            <span class="highlighted-meta">
                <i class="fas fa-flask"></i>
                <span class="meta-value">
                    {{ question.field_of_interest }}
                </span>
            </span>
            {% endif %}

            {% if question.tr_school %}
            <span class="highlighted-meta">
                <i class="fas fa-university"></i>
                <span class="meta-value">
                    {{ question.tr_school }}
                    {% if question.tr_curriculum_followed %}
                        ({{ question.tr_curriculum_followed }})
                    {% endif %}
                </span>
            </span>
            {% endif %}

            {% if question.tr_area or question.tr_state %}
            <span class="highlighted-meta">
                <i class="fas fa-map-marker-alt"></i>
                <span class="meta-value">
                    {% if question.tr_area %}
                        {{ question.tr_area.rstrip }} {% if question.tr_state %}, {{ question.tr_state }} {% endif %}
                    {% elif question.tr_state %}
                        {{ question.tr_state }}
                    {% endif %}
                </span>    
            </span>
            {% endif %}

            {% if question.student_class %}
            <span class="highlighted-meta">
                <i class="fas fa-user-graduate"></i>
                <span class="meta-value">
                    {% trans 'Class' %} {{ question.student_class }}
                </span>
            </span>
            {% endif %}

            {% if question.question_asked_on %}
            <span class="highlighted-meta">
                <i class="far fa-calendar-alt"></i>
                <span class="meta-value">
                    {{ question.question_asked_on|date:"j F, Y" }}
                </span>
            </span>
            {% endif %}
        </div>
        {% if answer.translations %}
        <div class="dropdown">
          <button class="btn btn-secondary btn-small dropdown-toggle" type="button" id="translationSelectorButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans 'Read answer in:' %} {{ answer.tr_language|to_language_name }}
          </button>
          <div class="dropdown-menu" aria-labelledby="translationSelectorButton">
            {% for lang, language in answer.list_available_languages %}
            <a class="dropdown-item" href="{{ request.get_base_path }}?lang={{ lang }}">{{ language }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
    </div>
    <div class="answer-text-wrapper">
        <div class="answer-text">
            {{ answer.tr_answer_text|safe }}
            <div class="credits-section">
                {% for credit in answer.credits.all %}
                    <div class="credit-card">
                        <p>{{ credit.credit_user_name }}</p>
                        <span>{{ credit.credit_title|capfirst }}</span>
                    </div>
                {% endfor %}

                {% if answer.is_translated %}
                    <div class="credit-card">
                        <p>{{ answer.translated_by.get_full_name }}</p>
                        <span>{% trans 'Translator' %}</span>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="answer-prompt">
            <p>Do you think you can improve this answer? {% if request.user|has_group:"experts" %}<a href="{% url 'dashboard:submit-answer' question_id=question.id %}" class="grey-link">Submit a new answer</a>{% else %}<a href="{% url 'public_website:get-involved' %}" class="grey-link">Learn how</a> to submit a new answer{% endif %}</p>
        </div>
    </div>

</div>

{% if user.is_authenticated %}
<div class="answer-comment-related-section">
    <div class="comments">
        <h2>{% trans 'Comments' %}</h2>
        <form action="{% url 'public_website:submit-user-comment-answer' question.id answer.id %}" method="POST">
            {% csrf_token %}
            <textarea name="comment-text" rows="4" placeholder="{% trans 'Join the conversation' %}"></textarea>
            <button type="submit" class="btn btn-secondary">{% trans 'Add Comment' %}</button>
        </form>
        {% if comments %}
            <ul class="comment-list">
                {% for comment in comments %}
                <li class="comment-box">
                    <div class="comment-header">
                        <h3>{{ comment.author.get_full_name }}</h3>
                        {% if comment.author == request.user %}
                        <div class="delete-comment-wrapper">
                            <button type="submit" class="btn delete-comment slow-transition">{% trans 'Delete' %} <i class="far fa-trash-alt"></i></button>
                            <form action="{% url 'public_website:delete-user-comment-answer' question.id answer.id comment.id %}" class="delete-comment-form slow-transition" method="POST">
                                {% csrf_token %}
                                <span>{% trans 'Are you sure?' %}</span>
                                <button class="btn confirm-delete delete-yes">{% trans 'Yes' %}</button> /
                                <button class="btn confirm-delete delete-no">{% trans 'No' %}</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <p class="commane-date">{{ comment.created_on|date:"j F, Y" }}</p>
                    <p class="comment-text">
                        {{ comment.text|escape|render_linebreaks|safe }}
                    </p>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="related-questions">

    </div>
</div>
{% endif %}

{% endblock %}
