<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}"/>
        
        <link rel="stylesheet" href="{% static 'css/reboot.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">

        <title>Password Changed | Sawaliram</title>
    </head>
    <body class="auth-interstitial-body">
        <div class="auth-interstitial-content">
            <div class="message-section">
                <img src="{% static 'icons/verify_email_success.png' %}" alt="Verify Email">
                <p>Your password has been changed! Now you can <a href="{% url 'sawaliram_auth:signin' %}">sign-in</a> with your new password.</p>
            </div>
        </div>
    </body>
</html>