<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}"/>

        <link rel="stylesheet" href="{% static 'css/reboot.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">

        <title>Change Password | Sawaliram</title>
    </head>
    <body class="auth-interstitial-body centered">
        <div class="auth-interstitial-content">
            <h1>Enter your new password</h1>
            <form class="change-password-form" action="{% url 'sawaliram_auth:change-password' %}" method="POST">
                {% csrf_token %}
                <div class="form-fields">
                    {% for field in form %}
                        <span class="{% if field.errors %}error-field{% endif %}">
                            {{ field }}
                        </span>
                        {% if form.errors %}
                            {% for error in field.errors %}
                                <p class="form-error">{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <input type="hidden" name="user" value="{{ user_id }}">
                <button class="btn btn-primary" type="submit">Change Password</button>
            </form>
        </div>
    </body>
</html>