<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}"/>

        <link rel="stylesheet" href="{% static 'css/reboot.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">

        <title>Reset Password | Sawaliram</title>
    </head>
    <body class="auth-interstitial-body">
        <div class="auth-interstitial-content">
            <div class="message-section">
                <img src="{% static 'icons/reset_password.png' %}" alt="Verify Email">
                <p>Enter the email you used to register with Sawaliram and we will send you an email with instructions on how to change your password</p>
            </div>
            <form class="reset-password-form" action="{% url 'sawaliram_auth:reset-password' %}" method="POST">
                {% csrf_token %}
                <div class="form-fields">
                    {% for field in form %}
                        <span class="{% if field.errors %}error-field{% endif %}">
                            {{ field }}
                        </span>
                        {% if form.errors %}
                            {% for error in field.errors %}
                                <p class="form-error">{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>