{% extends "sawaliram_auth/base.html" %}

{% load static %}
{% load i18n %}
{% load to_language_name %}


{% block title %} {% trans 'Sign-in' %} | {% trans 'Sawaliram' %} {% endblock %}

{% block content %}

<div class="signin-form-section">
    <img src="{% static 'icons/login_icon.png' %}" alt="Sawaliram Login">
    <form action="{% url 'sawaliram_auth:signin' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        {% if validation_error %}
            <p class="login-error">{% trans 'Invalid login credentials!' %}</p>
        {% endif %}
        <a class="forgot-password-link" href="{% url 'sawaliram_auth:reset-password' %}">Forgot Password?</a>
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <input class="btn btn-primary" type="submit" value="Sign-in">
    </form>
    <!-- <p class="alternate-login-options-heading"><span>or sign-in with</span></p>
    <div class="social-login-section">
        <button class="btn btn-secondary social-login"><i class="fab fa-facebook-f"></i> Facebook</button>
        <button class="btn btn-secondary social-login"><i class="fab fa-google"></i> Google</button>
    </div> -->
    <p class="signup-message">
        {% trans 'Not a member yet?' %} <a href="{% url 'sawaliram_auth:signup' %}" class="link-secondary">{% trans 'Sign up!' %}</a>
    </p>
</div>

{% endblock %}