{% extends "public_website/base.html" %}

{% load static %}

{% block head_includes %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block title %} Answer Question | Sawaliram {% endblock %}

{% block content %}

<h1 class="question-text-heading">{{ question.question_text }}</h1>

<div class="answer-question highlighted-meta-area">
    {% if question.student_class %}
        <span class="highlighted-meta">
            <i class="fas fa-user-graduate"></i></i>
            <span class="meta-value">
                Grade {{ question.student_class }}
            </span>
        </span>
    {% endif %}

    {% if question.school %}
        <span class="highlighted-meta">
            <i class="fas fa-graduation-cap"></i>
            <span class="meta-value">
                {{ question.school }}
                {% if question.curriculum_followed %}
                    ({{ question.curriculum_followed }})
                {% endif %}
            </span>
        </span>
    {% endif %}

    {% if question.area or question.state %}
        <span class="highlighted-meta">
            <i class="fas fa-map-marker-alt"></i>
            <span class="meta-value">
                {% if question.area %}
                    {{ question.area.rstrip }} {% if question.state %}, {{ question.state }} {% endif %}
                {% elif question.state %}
                    {{ question.state }}
                {% endif %}
            </span>    
        </span>
    {% endif %}
</div>

<form action="{% url 'dashboard:submit-answer' %}" class="rich-text-form" method="POST">
    {% csrf_token %}

    <div id="toolbar">
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-script" value="sub"></button>
            <button class="ql-script" value="super"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-blockquote"></button>
            <button class="ql-link"></button>
            <button class="ql-image"></button>
            <button class="ql-video"></button>
            <button class="ql-formula"></button>
        </span>
    </div>

    <div id="editor"></div>

    <br>
    <div class="task-notes">
        <i class="fas fa-exclamation-circle"></i> Once submitted, your answer will be reviewed by another subject expert, who may approve your answer or suggest changes to it. 
    </div>

    <input type="hidden" name="question_id" value="{{ question.id }}">
    <input type="hidden" name="rich-text-content" value="" />

    <br>
    <button type="submit" class="btn btn-block green-button">Submit For Review</button>
</form>

{% endblock %}