<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

        <title>{% block title %} {% endblock %}</title>
    </head>
    <body class="d-flex flex-column">

        {% block navbar %}
        <nav class="navbar fixed-top navbar-light shadow-sm">
            <a class="navbar-brand" href="{% url 'dashboard:dashboard_home' %}">
                Sawaliram Dashboard
            </a>
            {% if user.is_authenticated %}
                <form action="{% url 'dashboard:logout-user' %}" method="POST">
                    {% csrf_token %}
                    <div class="d-flex flex-row-reverse">
                        <button class="btn logout-button">Logout <i class="fas fa-power-off"></i></button>
                    </div>
                </form>
            {% endif %}
        </nav>
        {% endblock %}

        <div class="container sawaliram-container flex-grow">
            {% block content %} {% endblock %}
        </div>

        <footer>
            <p>Found an issue with the dashboard? Tell me over chai or find me at <a class="grey-link" href="mailto:nitinpaul@tifrh.res.in" target="_blank">nitinpaul@tifrh.res.in</a></p>
        </footer>

        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>

    </body>
</html>