 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

        <title>{% block title %} {% endblock %}</title>
    </head>
    <body class="d-flex flex-column">

        <nav class="navbar fixed-top navbar-light shadow-sm">
            <a class="navbar-brand" href="{% url 'dashboard:dashboard_home' %}">
                Sawaliram Dashboard
            </a>
            <!-- <div class="d-flex flex-row-reverse">
                <a class="logout-button" href="#">Logout</a>
            </div> -->
        </nav>

        <div class="container sawaliram-container flex-grow">
            {% block content %} {% endblock %}
        </div>

        <footer>
            <p>Found an issue with the dashboard? Want to suggest a feature?</p>
            <a class="grey-link" href="mailto:mail.sawaliram@gmail.com" target="_blank">Write to us at: mail.sawaliram@gmail.com</a>
        </footer>

        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>

    </body>
</html>