{% extends "dashboard/base.html" %}

{% block title %} Curate Data | Sawaliram {% endblock %}

{% load static %}

{% block content %}

<h1 class="task-heading">Curate Data</h1>

<h3 class="task-section-heading">Recent Submissions</h3>

{% if uncurated_submissions %}

<table class="table table-striped submissions-table">
    <thead>
        <tr>
            <th>User</th>
            <th>Questions</th>
            <th>Submission Method</th>
            <th>Submitted On</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
    {% for submission in uncurated_submissions %}
        <tr>
            <td>{{ submission.submitted_by.first_name }} {{ submission.submitted_by.last_name }}</td>
            <td>{{ submission.number_of_questions }}</td>
            <td>{{ submission.submission_method|title }}</td>
            <td>{{ submission.created_on }}</td>
            <td><a class="grey-link" href="{% static 'submissions/uncurated/'|add:submission.excel_sheet_name %}">Link</a></td>
        </tr>    
    {% endfor %}
    </tbody>
</table>

{% else %}
    <p class="empty-result-text">No pending submissions to curate</p>
{% endif %}

<h3 class="task-section-heading">Submit Curated Datasets</h3>

<form action="{% url 'dashboard:submit-curated-dataset' %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}

    <div class="custom-file">
        <input type="file" class="custom-file-input" id="excelFileBrowser" name="{{ excel_file_name }}" required>
        <label class="custom-file-label" for="excelFileBrowser">Choose Excel file</label>
        <input type="hidden" name="excel-file-name" value="{{ excel_file_name }}">
    </div>

    <br><br><br>
    <button type="submit" class="btn btn-block green-button">Submit</button>

</form>

{% endblock %}