{% extends "dashboard/base.html" %}

{% block title %} Excel File Submitted Successfully | Sawaliram {% endblock %}

{% block content %}

<div class="action-success-page-wrapper">
    <i class="fas fa-check-circle"></i>

    <h1>The Excel sheet was submitted successfully!</h1>
    
    <p>You can either <a href="{% url 'dashboard:dashboard_home' %}">go to dashboard home</a> and start a new task or <a href="{% url 'dashboard:submit-excel-sheet-view' %}">submit another excel sheet</a></p>
</div>

{% endblock %}