
{% extends "dashboard/base.html" %}

{% block title %} Dashboard Home | Sawaliram {% endblock %}

{% load static %}
{% load has_group %}

{% block content %}

<h1 class="dashboard-home-greeting">Hello {{ request.user.first_name }} :)&nbsp;&nbsp;What do you plan to do today?</h1>

<div class="row tasks-list">
    {% if request.user|has_group:"volunteers" %}
    <div class="col-12 col-sm-4">
        <a href="{% url 'dashboard:submit-questions-view' %}" class="task-card">
            <img src="{% static 'task_icons/submit_questions.png' %}" alt="Submit Questions">
            <h3>Submit Questions</h3>
            <p>Fill out a form to enter single or a batch of multiple questions</p>
        </a>
    </div>
    {% endif %}
    {% if request.user|has_group:"volunteers" %}
    <div class="col-12 col-sm-4">
        <a href="{% url 'dashboard:submit-excel-sheet-view' %}" class="task-card">
            <img src="{% static 'task_icons/submit_excel_sheet.png' %}" alt="Submit Excel Sheet">
            <h3>Submit Excel Sheet</h3>
            <p>Submit an Excel sheet with questions, with or without additional information</p>
        </a>
    </div>
    {% endif %}
    {% if request.user|has_group:"volunteers" %}
    <div class="col-12 col-sm-4">
        <a href="{% url 'dashboard:view-questions-view' %}" class="task-card">
            <img src="{% static 'task_icons/view_questions.png' %}" alt="View Questions">
            <h3>View Questions</h3>
            <p>View questions and their available answers and related information</p>
        </a>
    </div>
    {% endif %}
</div>

<!-- <div class="row tasks-list">
    {% if request.user|has_group:"admins" %}
    <div class="col-12 col-sm-4">
        <a href="{% url 'dashboard:view-questions-view' %}" class="task-card">
            <img src="{% static 'task_icons/view_questions.png' %}" alt="Manage Users">
            <h3>Manage Users</h3>
            <p>Approve or reject user access requests</p>
        </a>
    </div>
    {% endif %}
</div> -->

{% endblock %}