{% extends "public_website/base.html" %}

{% load static %}
{% load i18n %}
{% load to_language_name %}

{% block title %} {% trans 'Manage Content' %} | {% trans 'Sawaliram' %} {% endblock %}

{% block content %}

<div class="narrow-container">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible fade show {% if message.tags %} {{ message.tags }} {% endif %}" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
    
    <nav>
        <div class="nav nav-pills" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#datasets-tab" role="tab" aria-controls="datasets-tab" aria-selected="true">
                 {% trans 'Datasets' %} {% if datasets.count > 0 %}({{ datasets.count }}){% endif %}
            </a>
            <a class="nav-item nav-link" data-toggle="tab" href="#articles-tab" role="tab" aria-controls="articles-tab">
                    {% trans 'Articles' %} {% if articles.count > 0 %} ({{ articles.count }}){% endif %}
            </a>
            <a class="nav-item nav-link" data-toggle="tab" href="#article-translations-tab" role="tab" aria-controls="article-translations-tab">
                    {% trans 'Article Translations' %} {% if article_translations.count > 0 %} ({{ article_translations.count }}){% endif %}
            </a>
            <a class="nav-item nav-link" data-toggle="tab" href="#answer-translations-tab" role="tab" aria-controls="answer-translations-tab">
                {% trans 'Answer Translations' %}{% if answer_translations.count > 0 %} ({{ answer_translations.count }}){% endif %}
            </a>
        </div>
    </nav>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="datasets-tab" role="tabpanel" aria-labelledby="datasets-tab">
            <h4 class="tab-content-subheading">{% trans 'Upload Curated Dataset:' %}</h4>
            <form action="{% url 'dashboard:curate-dataset' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="excel-file-selection-panel">
                    <input type="file" class="custom-file-input" id="excelFileBrowser" name="excel_file" data-url="question/validate-curated" required>
                    <label class="excel-file-label" for="excelFileBrowser">
                        <i class="fas fa-file-excel"></i> 
                        <span>{% trans 'Click to select your excel sheet' %}</span>
                    </label>
                    <div class="validation-errors">
                        <h5></h5>
                        <div class="error-list"></div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary submit-excel" disabled>{% trans 'Submit' %}</button>
            </form>
        </div>
        <div class="tab-pane fade" id="articles-tab" role="tabpanel" aria-labelledby="articles-tab">
            {% if articles.count > 0 %}
            <ul class="sub-task-list">
                {% for article in articles %}
                <li class="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{ article.title }} </h5>
                        <div class="sub-task-details">
                            <p>{{ article.body|striptags|truncatechars:250 }}</p>
                            <p>{% trans 'Submitted by' %} <b>{{ article.author.get_full_name }}</b> {% trans 'on' %} <b>{{ article.updated_on|date:"j F, Y" }}</b></p>
                        </div>
                        <a href="{% url 'dashboard:review-article' article=article.id %}" class="btn btn-primary sub-task-button">{% trans 'Review Article' %}</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="empty-sub-task-card">
                <p><i class="far fa-frown"></i>{% trans 'No articles submitted!' %}</p>   
            </div>
            {% endif %}
        </div>


        <div class="tab-pane fade" id="article-translations-tab" role="tabpanel" aria-labelledby="article-translations-tab">
            {% if articles.count > 0 %}
            <ul class="sub-task-list">
                {% for translation in article_translations %}
                <li class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ translation.title }}</h5>
                        <div class="sub-task-details">
                            <p>{{ translation.body|striptags|truncatechars:250 }}</p>
                            <p>{% trans 'Translated to' %} {{ translation.language|to_language_name }} from <a href="{{ translation.source.get_absolute_url }}">{{ translation.source.title }}</a> ({{ translation.source.language|to_language_name }})</p>
                            <p>{% trans 'Submitted by' %} <b>{{ translation.translated_by.get_full_name }}</b> on <b>{{ translation.updated_on|date:"j F, Y" }}</b></p>
                        </div>
                        <a href="{{ translation.get_absolute_url }}" class="btn btn-primary sub-task-button">{% trans 'Review Translation' %}</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="empty-sub-task-card">
                <p><i class="far fa-frown"></i> {% trans 'No article translations submitted!' %}</p>
            </div>
            {% endif %}
        </div>

        <div class="tab-pane fade" id="answer-translations-tab" role="tabpanel" aria-labelledby="answer-translations-tab">
            {% if articles.count > 0 %}
            <ul class="sub-task-list">
                {% for translation in answer_translations %}
                <li class="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{on.source.question_id.question_text }}</h5>
                        {# TODO: use translated question text instead of just the question text #}
                        <div class="sub-task-details">
                            <p> {{ translation.answer_text|striptags|truncatechars:250 }} </p>
                            <p> {% trans 'Translated to' %} {{ translation.language|to_language_name }} from <a href="{{ translation.source.get_absolute_url }}">{{ translation.source.question_id.question_text }}</a> ({{ translation.source.language|to_language_name }}) </p>
                            <p> {% trans 'Submitted by' %} <b>{{ translation.translated_by.get_full_name }}</b> on <b>{{ translation.updated_on|date:"j F, Y" }}</b></p>
                        </div>
                        <a href="{{ translation.get_absolute_url }}" class="btn btn-primary sub-task-button">{% trans 'Review Translation' %}</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="empty-sub-task-card">
                <p><i class="far fa-frown"></i> {% trans 'No answer translations submitted!' %}</p>
            </div>
            {% endif %}
        </div>


    </div>
</div>

{% endblock %}
