{% extends "dashboard/base.html" %}

{% block title %} Questions Submitted Successfully | Sawaliram {% endblock %}

{% block content %}

<div class="action-success-page-wrapper">
    <i class="fas fa-check-circle"></i>

    <h1>Question{{ number_of_questions_submitted|pluralize }} submitted successfully!</h1>
    
    <p>You can either <a href="{% url 'dashboard:dashboard_home' %}">go to dashboard home</a> and start a new task or <a href="{% url 'dashboard:dashboard_page' 'submit-questions' %}">submit another question</a></p>
</div>

{% endblock %}