
{% extends "dashboard/base.html" %}

{% block title %} Signup | Sawaliram {% endblock %}

{% load static %}

{% block navbar %} {% endblock %}

{% block content %}

<div class="auth-container">
    <h1>Sign-up to contribute to Sawaliram</h1>

    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}

    <form class="signup-form" action="{% url 'dashboard:signup-user' %}" method="POST">
        {% csrf_token %}

        <div class="form-group">
            <input type="text" name="first_name" class="form-control" placeholder="First Name" required>
        </div>

        <div class="form-group">
            <input type="text" name="last_name" class="form-control" placeholder="Last Name">
        </div>

        <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email" required>
        </div>

        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>

        <div class="form-group">
            <input type="password" name="re-password" class="form-control" placeholder="Re-enter password" required>
        </div>

        <div class="form-group">
            <label for="organisationDropDown">Organisation</label>
            <select class="form-control" name="organisation" id="organisationDropDown" required>
                <option value="tcis">TIFR Centre for Interdisciplinary Sciences (TCIS)</option>
                <option value="eklavya">Eklavya</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="form-group other-organisation-textbox">
            <input type="text" name="other-org" class="form-control" placeholder="Organisation name">
        </div>

        <div class="form-check access-request-checkbox">
            <input type="checkbox" class="form-check-input" id="moderatorAccessRequest" name="access_request" value="moderator">
            <label for="moderatorAccessRequest" class="form-check-label">I would like to help translate content, fix errors/typos in questions and answers and help remove duplicate questions</label>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="expertAccessRequest" name="access_request" value="expert">
            <label for="expertAccessRequest" class="form-check-label">I would like to answer questions and review existing answers</label>
        </div>

        <br>
        <button type="submit" class="btn btn-block btn-dark">Create Profile</button>
    </form>

    <a class="text-muted signin-link" href="{% url 'dashboard:login-view' %}">Already have an account? Sign-in here!</a>
</div>

{% endblock %}