
{% extends "dashboard/base.html" %}

{% block title %} Submit Questions | Sawaliram {% endblock %}

{% block content %}

<h1 class="task-heading">Submit Questions</h1>

<h2 class="task-sub-heading">Submit a single question or a set of collected questions</h2>

<hr class="task-hr">

<form class="question-submission-form" action="{% url 'dashboard:submit-questions' %}" method="POST">
    {% csrf_token %}

    <h3 class="task-section-heading">Common Information</h3>

    <div class="form-group">
        <label>Were these questions published in a magazine/newspaper/website/book?</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="published" id="publishedTrue" value="True">
            <label class="form-check-label" for="publishedTrue">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="published" id="publishedFalse" value="False" checked>
            <label class="form-check-label" for="publishedFalse">No</label>
        </div>
    </div>

    <div class="published-information">
        <div class="form-group">
            <input type="text" class="form-control" name="published-source" id="publishedSource" placeholder="Name of publication">
            <small class="form-text text-muted">Name of the publication in which the question appeared</small>
        </div>

        <div class="form-group">
            <label for="publishedDate">Date of publication</label>
            <input type="date" class="form-control" name="published-date" id="publishedDate" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
            <small class="form-text text-muted">Date of publication (dd/mm/yyyy)</small>
        </div>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="school-name" id="schoolName" placeholder="School Name">
    </div>

    <div class="form-group">
        <label>Curriculum Followed</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="curriculum-followed" id="curriculumFollowedStateBoard" value="State Board" checked>
            <label class="form-check-label" for="curriculumFollowedStateBoard">State Board</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="curriculum-followed" id="curriculumFollowedCBSE" value="CBSE">
            <label class="form-check-label" for="curriculumFollowedCBSE">CBSE</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="curriculum-followed" id="curriculumFollowedICSE" value="ICSE">
            <label class="form-check-label" for="curriculumFollowedICSE">ICSE</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="curriculum-followed" id="curriculumFollowedHSTP" value="HSTP">
            <label class="form-check-label" for="curriculumFollowedHSTP">HSTP</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="curriculum-followed" id="curriculumFollowedSmallScience" value="Small Science">
            <label class="form-check-label" for="curriculumFollowedSmallScience">Small Science</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="curriculum-followed" id="curriculumFollowedOther" value="Other">
            <label class="form-check-label" for="curriculumFollowedOther">Other</label>
        </div>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="medium-language" id="mediumLanguage" placeholder="Medium of instruction">
        <small class="form-text text-muted">Language in which classes are taught in the school</small>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="area" id="area" placeholder="Area*" required>
        <small class="form-text text-muted">The address of the student’s school or residence (locality/village-town-city/district). May be entered in local language.</small>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="state" id="state" placeholder="State*" required>
        <small class="form-text text-muted">The state in India where the school/residence is located (may be entered in local language)</small>
    </div>

    <div class="form-group">
        <label>How was the question originally asked?</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question-format" id="questionFormatWritten" value="handed over in writen form" checked>
            <label class="form-check-label" for="questionFormatWritten">Handed over in writen form</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question-format" id="questionFormatOral" value="asked orally">
            <label class="form-check-label" for="questionFormatOral">Asked orally</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question-format" id="questionFormatPost" value="sent in by post">
            <label class="form-check-label" for="questionFormatPost">Received by post</label>
        </div>
    </div>

    <div class="form-group">
        <label for="area">Context*</label>
        <select class="form-control" name="context" id="context" required>
            <option>In class</option>
            <option>During or after an activity or field visit</option>
            <option>During or after a special event</option>
            <option>Other</option>
        </select>
        <small class="form-text text-muted">The setting in which the question was asked. If none of the options match the context, select the 'Other' option, and elaborate in the Notes Column.</small>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="contributor-name" id="contributorName" placeholder="Contributor Name">
        <small class="form-text text-muted">Name of the person who received/entered the question</small>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="contributor-role" id="contributorRole" placeholder="Contributor Role*">
        <small class="form-text text-muted">Role of the person who received/entered the question, eg: teacher, volunteer, AFSP, project officer, etc</small>
    </div>

    <br>
    <h3 class="task-section-heading">Questions & Related Information</h3>

    <div class="card question-card">
        <div class="card-header">
            #<span class="question-number">1</span>
            <button type="button" class="delete-question-button">Delete</button>
        </div>
        <div class="card-body">
            <div class="form-group">
                <textarea class="form-control" name="question-text" id="question_text" placeholder="Question*" required></textarea>
                <small class="form-text text-muted">The question asked by a student, in its original language</small>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="question-language" id="question_language" placeholder="Question language*" required>
                <small class="form-text text-muted">The language in which the question was originally asked</small>
            </div>

            <div class="form-group">
                <textarea class="form-control" name="question-text-english" id="question_text_english" placeholder="English translation of question"></textarea>
                <small class="form-text text-muted">Translation of the question in English. Leave blank if the original question is in English</small>
            </div>
        
            <div class="form-group">
                <input type="text" class="form-control" name="student-name" id="student_name" placeholder="Student name">
                <small class="form-text text-muted">Name(s) of the student(s) who asked the question (may be entered in the local language). If multiple students have asked the same question, enter their names with comma-separation, eg: Geeta, Ali, Mary.</small>
            </div>
        
            <div class="form-group">
                <input type="text" class="form-control" name="student-class" id="student_class" placeholder="Student class">
                <small class="form-text text-muted">The class of the student(s) in Arabic numerals (1-12). Avoid ordinals like 3rd or 4th. If the class of that student is not known but the group had students from multiple classes, enter the classes with comma-separation, Eg: 7, 8, 9, 10</small>
            </div>

            <div class="form-group">
                <label for="questionAskedOn">When was the question asked?</label>
                <input type="date" class="form-control" name="question-asked-on" id="questionAskedOn" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                <small class="form-text text-muted">The date on which the question was asked (dd/mm/yyyy)</small>
            </div>

            <div class="form-group">
                <textarea class="form-control" name="notes" id="notes" placeholder="Notes"></textarea>
                <small class="form-text text-muted">Space for additional details or information points not recorded in any other field. Use semicolon (;) as a separator for more than one point</small>
            </div>
    
        </div>
    </div>

    <button type="button" class="btn btn-block add-question-button">Add Another Question</button>

    <br><br>
    <button type="submit" class="btn btn-block green-button">Submit</button>
    
</form>

{% endblock %}