{% extends "dashboard/base.html" %}

{% block title %} Submit Excel Sheet | Sawaliram {% endblock %}

{% load static %}

{% block content %}

<h1 class="task-heading">Upload Excel Sheet</h1>

<h3 class="task-section-heading">Guidelines to add questions to Sawaliram</h3>
<p>Read guidelines > Download Excel template > Enter data > Submit file</p>

<ol>
    <li>To enter multiple questions, use the excel template designed to capture all the relevant information needed for Sawaliram.</li>
    <li>There are 20 fields (columns) in the template that need to be filled row-wise. The excel sheet has a help box that appears when you hover or click on a cell. This prompt describes the field and guides the data entry.</li>
    <li>Fields like Context, Gender, How was the question asked, Curriculum, Published (Yes or No) have drop downs. All other fields accept string and number entry.</li>
    <li>To copy the contents of the cell above use [Ctrl + d] on Windows/Linux systems and [Command + d] for MacOS.</li>
    <li>For MacOS users: The template is not compatible with the 'Numbers' application. Open the same with Microsoft Office or Google Spreadsheet</li>
    <li>Check for spelling or grammatical errors before submitting the file.</li>
</ol>

<div class="alert alert-primary" role="alert">
    IMPORTANT: Avoid changing the format of the template. Kindly refrain from merging cells, adding new columns or adding multiple sheets in a single excel file. If you have questions or trouble submitting the document, write to mail.sawaliram@gmail.com
</div>

<p class="template-download-message">Click <a href="{% static 'files/sawaliram_template.xlsx' %}">here</a> to download the Excel template</p>

<h4 class="task-section-sub-heading">Overview of the fields in the excel template</h4>

<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>Field (Column)</th>
            <th>Overview</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Question</td>
            <td>The question asked by a student, in its original language.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Question Language</td>
            <td>The language in which the question was originally asked.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>English translation of the question</td>
            <td>Translation of the question in English. Leave blank if the original question is in English.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>How was the question originally asked?</td>
            <td>Format in which the question was asked. Choose one of the options listed.</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Context</td>
            <td>The setting in which the question was asked. If none of the options match the context, select the 'Other' option, and elaborate in the Notes Column.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Date of asking the question</td>
            <td>The date on which the question was asked (dd/mm/yyyy).</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Student Name</td>
            <td>Name(s) of the student(s) who asked the question (may be entered in the local language). If multiple students have asked the same question, enter their names with comma-separation, eg: Geeta, Ali, Mary.</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Gender</td>
            <td>Gender of the student who asked the question. If the gender is not known, leave this field blank.</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Student Class</td>
            <td>The class of the student(s) in Arabic numerals (1-12). Avoid ordinals like 3rd or 4th. If the class of that student is not known but the group had students from multiple classes, enter the classes with comma-separation, Eg: 7, 8, 9, 10.</td>
        </tr>
        <tr>
            <td>10</td>
            <td>School Name</td>
            <td>Name of the school the student is enrolled in (may be entered in the local language).</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Curriculum followed</td>
            <td>The curriculum of the school. If none of the options match the curriculum, select the 'Other' option, and elaborate in the Notes Column.</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Medium of instruction</td>
            <td>Language in which classes are taught in the school.</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Area</td>
            <td>The address of the student’s school or residence (locality/village-town-city/district). May be entered in local language.</td>
        </tr>
        <tr>
            <td>14</td>
            <td>State</td>
            <td>The state in India where the school/residence is located (may be entered in local language).</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Published (Yes/No)</td>
            <td>Has the question been published in a magazine, book, newspaper or website? Select Yes/No. In case you select ‘No’ then leave the next two columns blank.</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Publication Name</td>
            <td>Name of the publication in which the question appeared.</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Publication Date</td>
            <td>Date of publication (dd/mm/yyyy).</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Notes</td>
            <td>Space for additional details or information points not recorded in any other field. Use semicolon (;) as a separator for more than one point.</td>
        </tr>
            <tr>
            <td>19</td>
            <td>Contributor Name</td>
            <td>Name of the person who received/entered the question.</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Contributor Role</td>
            <td>Role of the person who received/entered the question, eg: teacher, volunteer, AFSP, project officer, etc.</td>
        </tr>
    </tbody>
</table>

<form action="{% url 'dashboard:submit-excel-sheet' %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}

    <br>
    <h3 class="task-section-heading">Select your Excel file</h3>

    <div class="custom-file">
        <input type="file" class="custom-file-input" id="excelFileBrowser" name="{{ excel_file_name }}" required>
        <label class="custom-file-label" for="excelFileBrowser">Choose Excel file</label>
        <input type="hidden" name="excel-file-name" value="{{ excel_file_name }}">
    </div>

    <br><br><br>
    <button type="submit" class="btn btn-block green-button">Submit</button>

</form>

{% endblock %}
