
{% extends "dashboard/base.html" %}

{% block title %} Submit Questions | Sawaliram {% endblock %}

{% block content %}

<h1 class="task-heading">Submit Questions</h1>

<h2 class="task-sub-heading">Submit a single question or a set of collected questions</h2>

<hr class="task-hr">

<form action="{% url 'dashboard:dashboard_action' 'save-questions' %}" method="POST">
    {% csrf_token %}

    <h3 class="task-section-heading">Common Information</h3>

    <div class="form-group">
        <label for="schoolName">School Name</label>
        <input type="text" class="form-control" name="school-name" id="schoolName">
    </div>

    <div class="form-group">
        <label for="area">Area <span class="required-field-text">(required)</span></label>
        <input type="text" class="form-control" name="area" id="area">
        <small class="form-text text-muted">The PO or city/district/zone from where the question was collected</small>
    </div>

    <div class="form-group">
        <label for="state">State <span class="required-field-text">(required)</span></label>
        <input type="text" class="form-control" name="state" id="state">
        <small class="form-text text-muted">The state in India from where the question was collected</small>
    </div>

    <div class="form-group">
        <label>Question Format</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question-form" id="questionFormWritten" value="written" checked>
            <label class="form-check-label" for="questionFormWritten">Written</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question-form" id="questionFormOral" value="oral">
            <label class="form-check-label" for="questionFormOral">Oral</label>
        </div>
    </div>

    <div class="form-group question-box-group">
        <label>Was the question submitted in a question box?</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question-submitted-in-box" id="questionSubmittedInBoxYes" value="True" checked>
            <label class="form-check-label" for="questionSubmittedInBoxYes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question-submitted-in-box" id="questionSubmittedInBoxNo" value="False">
            <label class="form-check-label" for="questionSubmittedInBoxNo">No</label>
        </div>
    </div>

    <div class="form-group">
        <label for="area">Contributor Name</label>
        <input type="text" class="form-control" name="area" id="area">
        <small class="form-text text-muted">Name of the person to whom the question was asked</small>
    </div>

    <div class="form-group">
        <label for="area">Contributor Role</label>
        <input type="text" class="form-control" name="area" id="area">
        <small class="form-text text-muted">Role of the person to whom the question was asked, e.g.: Teacher, Volunteer, AFSP, etc</small>
    </div>

    <div class="form-group">
        <label for="area">Context <span class="required-field-text">(required)</span></label>
        <select class="form-control" name="context" id="context">
            <option>During regular class</option>
            <option>Before an event</option>
            <option>During an event</option>
            <option>After an event</option>
            <option>Asked to a teacher/volunteer spontaneaously</option>
        </select>
        <small class="form-text text-muted">Context in which the question was asked</small>
    </div>

    <div class="form-group">
        <label for="medium_language">Medium of instruction</label>
        <input type="text" class="form-control" name="medium_language" id="medium_language">
        <small class="form-text text-muted">Language in which classes are taught in the school</small>
    </div>

    <br>
    <h3 class="task-section-heading">Questions & Related Information</h3>

    <div class="card question-card">
        <div class="card-header">
            #<span class="question-number">1</span>
            <button type="button" class="delete-question-button">Delete</button>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="question_text">Question <span class="required-field-text">(required)</span></label>
                <textarea class="form-control" name="question_text" id="question_text"></textarea>
                <small class="form-text text-muted">Enter the question in its original language</small>
            </div>

            <div class="form-group">
                <label for="question_language">Question language <span class="required-field-text">(required)</span></label>
                <input type="text" class="form-control" name="question_language" id="question_language">
                <small class="form-text text-muted">Language of Question</small>
            </div>

            <div class="form-group">
                <label for="question_text_english">English translation of question</label>
                <textarea class="form-control" name="question_text_english" id="question_text_english"></textarea>
                <small class="form-text text-muted">Leave blank if the language of the question is English</small>
            </div>
        
            <div class="form-group">
                <label for="student_name">Student name</label>
                <input type="text" class="form-control" name="student_name" id="student_name">
                <small class="form-text text-muted">Name of the student who asked the question</small>
            </div>
        
            <div class="form-group">
                <label for="student_class">Student class</label>
                <input type="text" class="form-control" name="student_class" id="student_class">
                <small class="form-text text-muted">Class of the student who asked the question</small>
            </div>
    
        </div>
    </div>

    <button type="button" class="btn btn-block add-question-button">Add Another Question</button>

    <br><br>
    <button type="submit" class="btn btn-dark btn-block">Submit</button>
    
</form>

{% endblock %}