{% extends "dashboard/base.html" %}

{% block title %} View Questions | Sawaliram {% endblock %}

{% block content %}

<h1 class="task-heading">View Questions</h1>

<div class="filter-area">
    <div id="filterForm">
        <form action="{% url 'dashboard:view-questions-view' %}" method="GET">

            <div class="form-group">
                <label class="filter-form-section-label">Filter States</label><br>
                {% for state in states_list %}
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" name="states" value="{{ state.state }}" id="statesOption{{ forloop.counter }}" {% if state.state in states_to_filter_by %} checked {% endif %}>
                    <label for="statesOption{{ forloop.counter }}" class="form-check-label">
                        {% if state.state == '' %}
                            Not Specified
                        {% else %}  
                            {{ state.state|capfirst }}
                        {% endif %}
                    </label>
                </div>
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-dark btn-sm">Apply Filters</button>

        </form>
    </div>
</div>

<div id="questionsList">
    {% if questions %}
    {% for question in questions %}
    <div class="card">

        <div class="card-header" id="questionCard{{ forloop.counter }}">
            <h3>
                {{ forloop.counter }}. {{ question.question_text }}
            </h3>
        </div>

        <div class="card-body">
            
            {% if question.school or question.state or question.area or question.question_asked_on %}
            <div class="highlighted-meta-area">

                {% if question.school %}
                <span class="highlighted-meta">
                    <i class="fas fa-graduation-cap"></i>
                    <span class="meta-value">
                        {{ question.school }}
                        {% if question.curriculum_followed %}
                            ({{ question.curriculum_followed }})
                        {% endif %}
                    </span>
                </span>
                {% endif %}

                {% if question.area or question.state %}
                <span class="highlighted-meta">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="meta-value">
                        {% if question.area %}
                            {{ question.area.rstrip }} {% if question.state %}, {{ question.state }} {% endif %}
                        {% elif question.state %}
                            {{ question.state }}
                        {% endif %}
                    </span>    
                </span>
                {% endif %}

                {% if question.question_asked_on %}
                <span class="highlighted-meta">
                    <i class="far fa-calendar-alt"></i>
                    <span class="meta-value">
                        {{ question.question_asked_on }}
                    </span>
                </span>
                {% endif %}

            </div>
            {% endif %}

            {% if question.question_format %}
            <p class="meta-phrase-section">
                This question was <span class="meta-value">{{ question.question_format|lower }}</span>,{% if question.question_language %} in <span class="meta-value">{{ question.question_language }}</span>.{% endif %}
            </p>
            {% elif question.question_language %}
            <p class="meta-phrase-section">
                This question was asked in <span class="meta-value">{{ question.question_language }}</span>.
            </p>
            {% endif %}

            {% if question.question_text_english %}
            <p class="meta-phrase-section">
                English translation: <span class="meta-value">"{{ question.question_text_english }}"</span>
            </p>
            {% endif %}

            {% if question.contributor %}
            <p class="meta-phrase-section">
                Collected by: <span class="meta-value">{{ question.contributor }} {% if question.contributor_role %}({{ question.contributor_role }}){% endif %}</span>
            </p>
            {% endif %}
        </div>

    </div>
    {% endfor %}
    {% else %}
        <p class="empty-result-text">No questions found. Try changing the filters.</p>
    {% endif %}
</div>

{% endblock %}