/* ======== GENERAL STYLES ======== */

body {
    font-family: 'Nunito Sans', sans-serif;
}

body.grey-background {
    background-color: #f2f2f2;;
}

.sawaliram-container {
    margin-top: 12rem;
    margin-bottom: 4rem;
}

.narrow-container {
    margin: auto;
}

@media (min-width: 1200px) {
    .narrow-container {
        max-width: 1140px;
    }
}

@media (min-width: 768px) {
    .sawaliram-container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 576px) {
    .sawaliram-container {
        margin-top: 7rem;
    }
}

::-moz-selection { /* For Firefox */
    color: #000000;
    background: #FFBA4B;
}

::selection {
    color: #000000;
    background: #FFBA4B;
}

a:hover {
    text-decoration: none;
}

i {
    margin-right: 0.2rem;
}

textarea,
input[type=text], 
input[type=password], 
input[type=email] {
    display: block;
    width: 100%;
    border: 1px solid #cacaca;
    border-radius: 20px;
    padding: 8px 15px;
    margin-bottom: 1rem;
}

textarea,
input:focus {
    border-color: #87B24D;
    outline: none;
    box-shadow: 0 0 0 1px #87B24D;
}

.btn {
    border-radius: 20px;
    padding: 0.4rem 1.3rem;
    background-color: #ffffff;
}

@media (max-width: 576px) {
    .btn {
        padding: 0.3rem 1.1rem;
        font-size: 0.8rem;
    }
}

.btn:disabled,
.btn:disabled:hover {
    background-color: #d0d0d0;
    color: #777;
    border-color: #b9b9b9;
    cursor: not-allowed;
}

.btn-primary {
    display: inline-block;
    width: unset;
    background-color: #87B24D;
    border-color: #87B24D;
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: #759a42;
    border-color: #759a42;
}

.btn-secondary {
    background-color: #9B63A8;
    border-color: #9B63A8;
}

.btn-secondary:hover {
    background-color: #83538e;
    border-color: #83538e;
}

.btn-secondary-hollow {
    color: #9B63A8;
    background-color: #ffffff;
    border: 1px solid #9B63A8;
}

.btn-secondary-hollow:hover {
    color: #ffffff;
    background-color: #9B63A8;
}

.link-secondary {
    color: #9B63A8
}

.link-secondary:hover {
    color: #83538e;
}

.darken {
    position: fixed;
    display: block;
    background: rgba(0,0,0,0.5);
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slow-transition {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.dropdown .dropdown-menu {
    min-width: 100%;
    border-color: #dadada;
    box-shadow: 0 3px 5px 1px rgba(0,0,0,.14);
}

.dropdown .dropdown-menu .dropdown-item {
    cursor: pointer;
}

/* ---- Tabs ---- */

.nav.nav-pills .nav-link {
    color: #696969;
    border-radius: 0;
    background-color: #ffffff00;
}

@media (max-width: 576px) {
    .nav.nav-pills .nav-link {
        font-size: 0.8rem;
    }
}

.nav.nav-pills .nav-link:hover {
    background-color: #e2e2e2;
}

.nav.nav-pills .nav-link.active {
    color: #87B24D;
    border-bottom: 2px solid;
}

.nav.nav-pills .nav-link.active:hover {
    background-color: #87b24d26;
}

.tab-content {
    padding-top: 2rem;
    min-height: 15rem;
}

@media (max-width: 576px) {
    .tab-content {
        padding-top: 1rem;
    }
}

.tab-content .tab-content-subheading {
    font-size: 1rem;
}

/* ======== NAVBAR ======== */

.navbar {
    background-color: #FFFFFF;
    padding: 0;
    padding-top: 0.5rem;
}

@media (max-width: 576px) {
    .navbar {
        padding-top: 0;
    }
}

.navbar .navbar-brand {
    flex: none;
    padding-left: 2rem;
}

.navbar .navbar-brand img {
    width: 250px;
}

@media (max-width: 576px) {
    .navbar .navbar-brand {
        margin-right: 0;
        padding-left: 0.5rem;
    }

    .navbar .navbar-brand img {
        width: 150px;
    }
}

@media (max-width: 360px) {
    .navbar .navbar-brand img {
        width: 130px;
    }
}

.navbar .navbar-options {
    display: flex;
    align-items: center;
    flex: 1 1;
    justify-content: flex-end;
    padding-right: 2rem;
}

@media (max-width: 576px) {
    .navbar .navbar-options {
        padding-right: 0;
    }
}

.navbar .navbar-element {
    font-size: 1.5rem;
}

@media (max-width: 576px) {
    .navbar .navbar-element {
        font-size: 0.9rem;
        margin-right: 1rem;
    }
}

.navbar #languageSelector {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.2rem;
}

@media (max-width: 576px) {
    .navbar #languageSelector {
        font-size: 0.9rem;
        padding: 0;
    }
}

.navbar #languageSelector:focus {
    box-shadow: none;
}

.navbar .navbar-menu-toggle {
    cursor: pointer;
}

@media (max-width: 576px) {
    .navbar .navbar-menu-toggle {
        font-size: 1.2rem;
    }
}

.navbar-menu {
    position: fixed;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 1032;
    margin: 0;
    right: -40%;
}

@media (max-width: 992px) {
    .navbar-menu {
        width: 100%;
        right: -100%;
    }
}

.navbar-menu a {
    color: #000000;
}

.navbar-menu .navbar-menu-close {
    float: right;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

@media (max-width: 576px) {
    .navbar-menu .navbar-menu-close {
        font-size: 1.2rem;
        margin-top: 1.2rem;
        margin-right: 1.4rem;
        padding: 0;
    }
}

.navbar-menu-container {
    padding: 10rem 4rem;
    font-size: 1.3rem;
}

.navbar-menu-container .row {
    margin-bottom: 2.5rem;
}

@media (max-width: 576px) {
    .navbar-menu-container {
        padding: 3rem 4rem;
        font-size: 1.2rem;
    }

    .navbar-menu-container .row {
        margin-bottom: 0;
    }

    .navbar-menu-container .row .col-sm {
        margin-bottom: 1.5rem;
    }
}

.navbar-menu-container .row.auth-buttons-area {
    margin-bottom: 0;
    border-top: 1px solid #e4e4e4;
    padding-top: 3rem;
}

.navbar-menu-container .row img {
    margin-right: 1rem;
    height: 32px;
    width: 32px;
}

.navbar-menu-open {
    right: 0;
}

.navbar .page-title-bar {
    flex: 1 1 100%;
    height: 4rem;
    background-color: #87B24D;
    padding: 0;
    padding-left: 2rem;
    margin-top: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 576px) {
    .navbar .page-title-bar {
        height: 2.8rem;
        padding-left: 0;
    }
}

.navbar .page-title-bar .page-title {
    color: #ffffff;
    font-size: 1rem;
    margin: 0;
}

@media (max-width: 576px) {
    .navbar .page-title-bar .page-title {
        font-size: 0.8rem;
        margin: 0.8rem;
    }
}

.navbar .page-title-bar .user-menu-button {
    color: #ffffff;
    background-color: #87B24D;
    height: 100%;
    border-radius: 0;
    padding-right: 2rem;
}

@media (max-width: 576px) {
    .navbar .page-title-bar .user-menu-button {
        padding: 0;
        padding-right: 0.8rem;
        font-size: 0.8rem;
    }
    .navbar .page-title-bar .user-menu-button .user-name {
        display: none;
    }
}

.navbar .page-title-bar .user-menu-button:hover {
    background-color: #96c15c;
}

.navbar .page-title-bar .user-menu-button img {
    margin-left: 0.5rem;
}

@media (max-width: 576px) {
    .navbar .page-title-bar .user-menu-button img {
        margin-left: 0.3rem;
        height: 30px;
        width: 30px;
    }
}

.user-menu {
    position: fixed;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 1032;
    margin: 0;
    right: -30%;
}

@media (max-width: 576px) {
    .user-menu {
        width: 100%;
        right: -100%;
    }
}

.user-menu.open {
    right: 0;
}

.user-menu button.user-menu-close {
    float: right;
    margin-top: 1rem;
}

.user-menu .user-menu-container {
    margin-top: 7rem;
}

@media (max-width: 576px) {
    .user-menu .user-menu-container {
        margin-top: 5rem;
    }
}

.user-menu .user-menu-container .user-menu-profile {
    text-align: center;
}

@media (max-width: 576px) {
    .user-menu .user-menu-container .user-menu-profile img {
        height: 70px;
        width: 70px;
    }
}

.user-menu .user-menu-container .user-menu-profile .user-name {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

@media (max-width: 576px) {
    .user-menu .user-menu-container .user-menu-profile .user-name {
        font-size: 0.9rem;
    }
}

.user-menu .user-menu-container .user-menu-profile button.edit-profile {
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
}

@media (max-width: 576px) {
    .user-menu .user-menu-container .user-menu-profile button.edit-profile {
        font-size: 0.7rem;
    }
}

.user-menu .user-menu-container .user-menu-items {
    margin-top: 2rem;
}

@media (max-width: 576px) {
    .user-menu .user-menu-container .user-menu-items {
        margin-top: 1.5rem;
    }
}

.user-menu .user-menu-container .user-menu-items a {
    display: block;
    width: 60%;
    margin: auto;
    color: #000000;
    padding: 0.6rem 0;
}

@media (max-width: 576px) {
    .user-menu .user-menu-container .user-menu-items a {
        font-size: 0.9rem;
    }
}

.user-menu .user-menu-container .user-menu-items a:not(:last-child) {
    border-bottom: 1px solid #e8e8e8;
}

.user-menu .user-menu-container .user-menu-items a img {
    margin-right: 0.5rem;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

@media (max-width: 576px) {
    .user-menu .user-menu-container .user-menu-items a img {
        height: 35px;
        width: 35px;
    }
}

.user-menu .user-menu-container .user-menu-items a:hover img {
    border-color: #9B63A8;
}

/* ======== DASHBOARD_HOME ======== */

h1.dashboard-home-greeting {
    font-size: 1.7rem;
    text-align: center;
}

@media (max-width: 576px) {
    h1.dashboard-home-greeting {
        font-size: 1.1rem;
    }
}

.task-list {
    margin-top: 2rem;
}

@media (max-width: 576px) {
    .task-list {
        margin-top: 1rem;
    }
}

.task-card {
    display: flex;
    align-items: stretch;
    padding: 1rem 1.5rem;
    width: 50%;
    margin: auto;
    background-color: #ffffff;
    border-top: 3px solid #87B24D;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media (max-width: 992px) {
    .task-card {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .task-card {
        width: 100%;
        padding: 0.8rem 0.5rem;
    }
}

.task-card .task-image-wrapper {
    height: 100px;
    width: 100px;
    margin: 0 1rem;
}

.task-card img {
    height: 100px;
    width: 100px;
}

@media (max-width: 576px) {
    .task-card .task-image-wrapper,
    .task-card .task-image-wrapper img {
        height: 70px;
        width: 70px;
        margin: 0 0.3rem;
    }
}

.task-card:not(:last-child) {
    margin-bottom: 1.5rem;
}

.task-card .task-details {
    margin-left: 1.3rem;
    position: relative;
    flex-grow: 1;
}

.task-card .task-details .task-title {
    margin-bottom: 0.3rem;
}

@media (max-width: 576px) {
    .task-card .task-details {
        margin-left: 0.5rem;
        position: static;
    }
}

.task-card .task-details a {
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 576px) {
    .task-card .task-details a {
        font-size: 1rem;
    }
}

.task-card .task-help {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    float: right;
}

@media (max-width: 576px) {
    .task-card .task-help {
        font-size: 0.7rem;
        padding: 0.1rem 0.5rem;
    }
}

.task-card .task-details .task-description {
    font-size: 0.9rem;
    color: #707070;
}

@media (max-width: 576px) {
    .task-card .task-details .task-description {
        font-size: 0.8rem;
    }
}

.task-card .task-details .task-stat {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    font-size: 0.7rem;
    color: #a5a5a5;
    text-transform: uppercase;
}

@media (max-width: 576px) {
    .task-card .task-details .task-stat {
        position: static;
        font-size: 0.6rem;
    }
}

/* ======== TASK PAGES GENERAL STYLES ======== */

.task-help-button-wrapper {
    text-align: right;
    margin-bottom: 1rem;
}

@media (max-width: 576px) {
    .task-help-button-wrapper {
        margin-bottom: 0.5rem;
    }
}

.task-page-help {
    background-color: #f2f2f2;
    padding: 0.1rem 0.8rem;
    font-size: 0.8rem;
}

@media (max-width: 576px) {
    .task-page-help {
        padding: 0.1rem 0.6rem;
        font-size: 0.6rem;
    }
}

.task-page-help:hover {
    background-color: #9B63A8;
}

.alert.success {
    background-color: #A7DF5C94;
}

.alert.error {
    color: #721c24;
    background-color: #f8d7da;
}

/* ======== SUBMIT QUESTIONS ======== */

.submit-questions-help {
    background-color: #eaeaea;
    padding: 2.2rem;
    border-radius: 8px;
}

@media (max-width: 576px) {
    .submit-questions-help {
        padding: 1rem;
    }

    .submit-questions-help p {
        font-size: 0.9rem;
    }
}

.submit-questions-help .download-excel-template {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
}

@media (max-width: 576px) {
    .submit-questions-help .download-excel-template {
        font-size: 0.7rem;
        padding: 0.3rem 0.8rem;
    }
}

.excel-file-selection-panel {
    position: relative;
    background-color: #eaeaea;
    border: 2px dashed #c6c6c6;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.excel-file-selection-panel input {
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
}

.excel-file-selection-panel .excel-file-label {
    width: 100%;
    text-align: center;
    padding: 2rem 2rem;
    color: #757575;
    cursor: pointer;
}


.excel-file-selection-panel i.green {
    color: #008000;
}

.excel-file-selection-panel i.red {
    color: red;
}

.excel-file-selection-panel .validation-errors {
    width: 60%;
    margin: auto;
}

@media (max-width: 576px) {
    .excel-file-selection-panel .validation-errors {
        width: 90%;
    }
}

.excel-file-selection-panel .validation-errors h5 {
    text-align: center;
}

@media (max-width: 576px) {
    .excel-file-selection-panel .validation-errors h5 {
        font-size: 0.9rem;
    }
}

.excel-file-selection-panel .validation-errors h5 i.fa-cog {
    color: #9B63A8;
}

.excel-file-selection-panel .validation-errors .error-list-row {
    background-color: #f2f2f2;
    border-radius: 5px;
    color: #757575;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.excel-file-selection-panel .validation-errors .error-list-row:last-child {
    margin-bottom: 3rem;
}

@media (max-width: 576px) {
    .excel-file-selection-panel .validation-errors .error-list-row:last-child {
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 576px) {
    .excel-file-selection-panel .validation-errors .error-list-row {
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .excel-file-selection-panel .validation-errors .error-list-row p {
        margin-bottom: 0;
    }
}

/* ======== MANAGE CONTENT ======== */

.dataset-list {
    padding-left: 0;
    margin-bottom: 2rem;
}

.dataset-list li:not(:last-child) {
    margin-bottom: 1.5rem;
}

.dataset-list li .card-body .card-title {
    font-size: 1.1rem;
}

@media (max-width: 576px) {
    .dataset-list li .card-body .card-title {
        font-size: 1rem;
    }   
}

.dataset-list li .card-body .card-title .question-count {
    color: #9b9b9b;
    font-size: 1rem;
    margin-left: 0.6rem;
}

@media (max-width: 576px) {
    .dataset-list li .card-body .card-title .question-count {
        font-size: 0.9rem;
    }   
}

.dataset-list li .card-body .dataset-details {
    color: #797979;
}

@media (max-width: 576px) {
    .dataset-list li .card-body .dataset-details {
        font-size: 0.8rem;
    }  
}

.dataset-list li .card-body .card-link {
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
}

@media (max-width: 576px) {
    #datasets-tab .excel-file-selection-panel {
        margin-top: 1rem;
    }
}

/* ======== SEARCH PAGE ======== */

.search-container {
    display: flex;
    flex-direction: row;
    margin-top: -3rem;
    margin-bottom: -4rem;
}

@media (max-width: 576px) {
    .search-container {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.search-container .filter-sidebar {
    width: 25%;
    background-color: #fff;
    padding: 3rem 2rem;
}

.search-container .filter-sidebar.mobile-open {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: 1035;
    top: 155px;
    padding: 1rem 2rem;
}

@media (max-width: 768px) {
    .search-container .filter-sidebar {
        display: none;
    }
}


.search-container .filter-sidebar .filter-head {
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-bottom: 2px solid #707070;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

.search-container .filter-sidebar .filter-head .clear-all{
    padding: 0;
    color: #9B63A8;
}

.search-container .filter-sidebar .filter-category:not(:last-child) {
    margin-bottom: 1rem;
    border-bottom: 2px solid #ebebeb;
}

.search-container .filter-sidebar .filter-category .category-options-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.search-container .filter-sidebar .filter-category .category-options-list button.category-option {
    border-color: #8c8c8c;
    width: 48%;
    margin-bottom: 0.8rem;
    padding: 0.6rem;
}

.search-container .filter-sidebar .filter-category .category-options-list button.category-option.active {
    font-weight: bold;
    box-shadow: 0 0 0 3px #FFBA4B;
    border: none;
}

@media (max-width: 992px) {
    .search-container .filter-sidebar .filter-category .category-options-list button.category-option {
        padding: 0.4rem 0;
        font-size: 0.8rem;
    }
}

.search-container .search-results {
    width: 75%;
    padding: 3rem 2rem;
}

@media (max-width: 768px) {
    .search-container .search-results {
        width: 100%;
        padding: 0;
    }
}

.search-container .search-results .head-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}

@media (max-width: 768px) {
    .search-container .search-results .head-area button.sort-by-selector {
        display: none;
    }
}

.search-container .search-results .head-area .dropdown #sortOptionSelector {
    border-radius: 3px;
    color: #9B63A8;
    font-size: 0.9rem;
}

.search-container .search-results .head-area .dropdown #sortOptionSelector i {
    margin-left: 0.5rem;
}

.search-container .search-results .results-count {
    font-size: 0.9rem;
}

@media (max-width: 576px) {
    .search-container .search-results .results-count {
        font-size: 0.8rem;
    }
}

.search-container .search-results ul.search-results-list {
    padding-left: 0;
    list-style: none;
}

.search-container .search-results ul.search-results-list li.search-result-item {
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 0.8rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

@media (max-width: 576px) {
    .search-container .search-results ul.search-results-list li.search-result-item {
        padding: 0.8rem;
    }
}

.search-container .search-results ul.search-results-list li.search-result-item .item-number {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: #707070;
}

.search-container .search-results ul.search-results-list li.search-result-item .item-title {
    color: #000;
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 2rem;
}

@media (max-width: 576px) {
    .search-container .search-results ul.search-results-list li.search-result-item .item-title {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
}

.search-container .search-results ul.search-results-list li.search-result-item .highlighted-meta:not(:last-child) {
    margin-right: 0.8rem;
}

.search-container .search-results ul.search-results-list li.search-result-item .highlighted-meta {
    background-color: #ebebeb;
    border-radius: 3px;
    padding: 0.3rem 0.5rem;
    display: inline-block;
}

@media (max-width: 576px) {
    .search-container .search-results ul.search-results-list li.search-result-item .highlighted-meta {
        margin-bottom: 0.4rem;
        font-size: 0.7rem;
    }
}

.search-container .search-results ul.search-results-list li.search-result-item .highlighted-meta i {
    color: #707070;
}

.search-container .search-results ul.search-results-list li.search-result-item .highlighted-meta .meta-value {
    font-size: 0.8rem;
}

.search-container .search-results .search-pagination {
    text-align: center;
    margin-top: 1.5rem;
}

.search-container .search-results .search-pagination .page-number {
    border-radius: 50%;
    background-color: #fff;
    color: #9B63A8;
    margin: 0 0.2rem;
    border: 1px solid;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 36px;
    cursor: pointer;
}

.search-container .search-results .search-pagination .current-page {
    background-color: #9B63A8;
    color: #fff;
    cursor: default;
}

.search-container .mobile-filter-controls {
    display: none;
}

@media (max-width: 576px) {
    .search-container .mobile-filter-controls {
        display: flex;
        margin-bottom: 1.2rem;
    }

    .search-container .mobile-filter-controls button {
        color: #9B63A8;
        width: 50%;
        border: none;
        font-size: 0.9rem;
        padding: 0.3rem 0;
    }

    .search-container .mobile-filter-controls button:not(:last-child) {
        border-right: 1px solid;
    }
}

/* ======== FOOTER ======== */

footer .footer-main {
    color: #ffffff;
    background-color: #414141;
    padding: 4rem 0;
}

@media (max-width: 576px) {
    footer .footer-main {
        font-size: 0.9rem;
    } 
}

footer .footer-main .footer-column {
    padding: 0 8rem;
}

footer .footer-main .footer-column:last-child {
    border-left: 1px solid #292929;
    padding: 0 4rem;
}

@media (max-width: 576px) {
    footer .footer-main .footer-column:last-child {
        border-left: none;
        margin-top: 2rem;
    } 
}

@media (max-width: 576px) {
    footer .footer-main .footer-column,
    footer .footer-main .footer-column:last-child {
        padding: 0 2rem;
    } 
}

footer .footer-main .footer-column button.get-involved {
    font-size: 1rem;
    background-color: #FEB740;
    color: #414141;
    padding: 0.5rem 1.2rem;
}

footer .footer-main .footer-column .footer-links {
    margin-bottom: 3rem;
}

@media (max-width: 576px) {
    footer .footer-main .footer-column .footer-links {
        margin-bottom: 1rem;
    } 
}

footer .footer-main .footer-column .footer-links a {
    color: #ffffff;
}

footer .footer-main .footer-column .footer-links a:not(:last-child) {
    margin-right: 2rem;
}

footer .footer-main .footer-column a.social-media {
    color: #414141;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.3rem;
}

footer .footer-main .footer-column a.social-media i {
    margin-right: 0;
}

@media (max-width: 576px) {
    footer .footer-main .footer-column a.social-media {
        font-size: 1rem;
    } 
}

footer .footer-main .footer-column a.social-media:not(:last-child) {
    margin-right: 0.7rem;
}

footer .footer-main .footer-column a.social-media.facebook {
    padding: 0.4rem 1rem;
}

footer .footer-main .footer-column a.social-media.facebook:hover {
    color: #4267b2;
}

footer .footer-main .footer-column a.social-media.youtube {
    padding: 0.4rem 0.7rem;
}

footer .footer-main .footer-column a.social-media.youtube:hover {
    color: #c4302b;
}

footer .footer-main .footer-column a.social-media.twitter {
    padding: 0.4rem 0.7rem;
}

footer .footer-main .footer-column a.social-media.twitter:hover {
    color: #38a1f3;
}

@media (max-width: 576px) {
    footer .footer-main .footer-column a.social-media.facebook {
        padding: 0.3rem 0.8rem;
    }
    
    footer .footer-main .footer-column a.social-media.youtube {
        padding: 0.3rem 0.5rem;
    }
    
    footer .footer-main .footer-column a.social-media.twitter {
        padding: 0.3rem 0.5rem;
    }
}


footer .footer-base {
    color: #c3c3c3;
    background-color: #000000;
    padding: 1rem 0;
    font-size: 0.8rem;
    text-align: center;
}

/* ======== SAWALIRAM_AUTH ======== */

.auth-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

@media (max-width: 992px) {
    .auth-container {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
}

.signin-form-section {
    min-width: 20rem;
    text-align: center;
}

.signin-form-section img {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

.signin-form-section .login-error {
    color: #d00000;
    font-size: 0.8rem;
}

.alternate-login-options-heading {
    border-bottom: 1px solid #CACACA;
    color: #808080;
    line-height: 0.1rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.alternate-login-options-heading span {
    background-color: #FFFFFF;
    padding: 5px 10px;
}

.social-login-section {
    display: flex;
    justify-content: space-between;
}

button.social-login {
    padding: 0.5rem 1.8rem;
}

@media (max-width: 320px) {
    button.social-login {
        padding: 0.5rem 1.2rem;
    }
}

button.social-login i {
    border-right: 1px solid;
    padding: 0.2rem 0.5rem 0.2rem 0;
    margin-right: 0.2rem;
}

.signup-message, .signin-message {
    color: #808080;
}

.signup-message {
    margin-top: 1.5rem;
}

.onboarding-form-section h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
    .onboarding-form-section button.social-login {
        padding: 0.5rem 2.5rem;
    }
}

@media (min-width: 992px) {
    .onboarding-form-section {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .onboarding-text-column {
        position: relative;
    }
    
    .signin-message {
        position: absolute;
        bottom: 0;
    }
}

.onboarding-form-column {
    text-align: center;
}

@media (max-width: 768px) {
    .onboarding-form-column {
        margin-top: 1.5rem;
    }
}

.onboarding-form-column .error {
    font-size: 0.8rem;
    text-align: right;
    padding: 0 1rem;
    margin-bottom: 0.2rem;
    color: #d00000;
}

.onboarding-form-column .error-field input,
.onboarding-form-column .error-field input:focus {
    border: 2px solid #d00000;
    box-shadow: none;
}

.password-plaintext {
    text-align: left;
    height: 1rem;
    font-size: 12px;
    color: #9e9e9e;
    padding: 0 1rem;
}

.password-plaintext i {
    float: right;
    font-size: 1rem;
    cursor: pointer;
    color: #9e9e9e;
}

.password-plaintext.hidden {
    color: #ffffff;
}

.onboarding-form-column .volunteer-option {
    text-align: left;
    background-color: #ececec;
    padding: 10px 20px;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.onboarding-form-column .volunteer-option:last-of-type {
    margin-bottom: 1.5rem;
}

.onboarding-form-column .volunteer-option label{
    margin-left: 0.4rem;
}

.onboarding-form-column .volunteer-option .small {
    color: #757575;
}

.onboarding-form-column .volunteer-option.selected,
.onboarding-form-column .volunteer-option.selected .small {
    color: #87B24D;
    background-color: #f7ffed; 
}

.onboarding-form-column .volunteer-option .volunteer-dialog {
    display: none;
}

.onboarding-form-column .volunteer-option .volunteer-dialog textarea {
    border-radius: 5px;
}

/* ======== OLDER STYLES ======== */

/* ----- General styles ----- */

#editor .ql-editor {
    min-height: 400px;
}

/* view-questions */
/* .filter-area {
    margin-bottom: 40px;
}

#filterForm .filter-form-section-label {
    color: #888;
}

#questionsList .card {
    border: none;
    color: #b7b7b7;
}

#questionsList .card:not(:last-child) {
    margin-bottom: 40px;
}

#questionsList .card .card-header {
    padding: 0;
    border-bottom: none;
    background: none;
}

#questionsList .card .card-header h3 {
    color: #444;
    font-size: 18px;
    margin-bottom: 5px;
}

#questionsList .card .card-body {
    padding: 10px 15px;
    padding-left: 0;
    font-size: 15px;
}

.highlighted-meta-area {
    margin-bottom: 13px;
}

.highlighted-meta {
    padding: 2px;
    padding-right: 10px;
    font-size: 13px;
}

.highlighted-meta:not(:last-child) {
    border-right: 1px solid #b7b7b7;
    margin-right: 10px;
}

.highlighted-meta i {
    font-size: 13px;
    margin: 0 5px;
    color: #b7b7b7;
}

#questionsList .card .card-body .meta-phrase-section {
    margin-bottom: 13px;
}

.highlighted-meta .meta-value {
    color: #777;
}

.empty-result-text {
    text-align: center;
    color: #4e4e4e;
} */

/* answer-question */
.question-text-heading {
    font-size: 30px;
}

.answer-question.highlighted-meta-area {
    margin-bottom: 30px;
}
